{{#each this.navigationItems}}
    <li @click.debounce.200ms="toggle; searchFieldOpen=false; $store.serviceItems.current = '{{nextRandom}}'; $dispatch('burger-close');" 
        @click.outside="dropped = false"
        @close-servicemenu.window="dropped = false" 
        x-data="dropdown"
        id="{{getRandom}}"
        class="{{inline-switch this.id "wetter,warnung,verkehr,videopodcast" "-wetter, -warnung, -verkehr, -videopodcast" }} h-10 md:h-full flex flex-col justify-center cursor-pointer lg:pt-1 lg:justify-start items-center w-full border-r last:border-r-0 lg:border-r-0 px-4 text-white {{#if this.selected}} font-bold  -currentService {{/if}} lg:px-4 lg:relative lg:h-16 lg:rounded lg:border-0 lg:left-0"

        {{#if this.subNavigation}} :class="dropped ? 'bg-white fill-current text-blue-congress lg:rounded-t lg:border-0' : ''" > 
              
        {{else}} > 
            {{#if this.extern}}
                <a href="{{this.url}}" target="_blank" class="flex flex-col items-center js-loadScript" id="flyout-{{nextRandom}}-1" data-hr-click-tracking='{"settings": [{"type": "uxAction", "secondLevelId": "1", "clickLabel": "Servicenavigation::{{this.text}}-Link geklickt"}]}'>
            {{else}}
                <a href="{{resourceUrl this.url}}" class="flex flex-col items-center js-loadScript" id="flyout-{{nextRandom}}-1" data-hr-click-tracking='{"settings": [{"type": "uxAction", "secondLevelId": "1", "clickLabel": "Servicenavigation::{{this.text}}-Link geklickt"}]}'>
            {{/if}}
        {{/if}}
        
        {{> components/base/image/icon _icon=this.icon _iconmap="icons" _addClass="w-7 md:w-8  h-7 md:h-8 align-center"}}
        
        <div :class="dropped ? 'text-blue-congress fill-current' : 'text-white fill-white'" class="relative flex-row items-center justify-center hidden pt-px lg:flex z-200">
            <span class="flex text-xs whitespace-nowrap">
                {{text}} 
            </span>
            {{#if this.subNavigation}} 
                <div class="flex opacity-70">
                    <div :class="dropped ? 'transform rotate-180 flex items-center justify-center ':'flex items-center justify-center '">
                        {{> components/base/image/icon _icon="arrow-down" _iconmap="icons" _addClass="w-4 h-2 fill-current"}}
                    </div>
                </div>
            </div>
            {{> components/Header/NavigationFlyout/NavigationFlyout _isSectionNav=false  _navigationType="ServiceNav"  }}
            {{else}}
        </div>
        </a>
        {{/if}}   
    </li>
{{/each}}