{{~#if _firstPage~}}   
    {{> components/pagination/pagination_button_left }}  
    <div class="px-20 py-10">   
        <span class="py-10 pr-5 font-title">1</span>   
        <a href="{{nextItemUrl}}" class="py-10 pr-5 font-bold sb-link js-load hover:underline text-toplineColor font-title"><span class="hidden">Zur Seite </span>2</a>   
        <a href="{{lastPageItemUrl}}" class="py-10 font-bold sb-link js-load hover:underline text-toplineColor font-title"><span class="hidden">Zur Seite </span>3</a>   
    </div>   
    {{> components/pagination/pagination_button_right_linked }}  
{{else}}
    {{~#if _secondPage~}}   
        {{> components/pagination/pagination_button_left_linked }}   
        <div class="px-20 py-10">   
            <a href="{{firstPageItemUrl}}" class="py-10 pr-5 font-bold sb-link js-load hover:underline text-toplineColor font-title"><span class="hidden">Zur Seite </span>1</a>   
            <span class="py-10 pr-5 font-title">2</span>   
            <a href="{{lastPageItemUrl}}" class="font-bold sb-link js-load hover:underline text-toplineColor font-title"><span class="hidden">Zur Seite </span>3</a>   
        </div>   
        {{> components/pagination/pagination_button_right_linked }}    
    {{else}}   
        {{> components/pagination/pagination_button_left_linked }}   
            <div class="px-20 py-10">   
            <a href="{{firstPageItemUrl}}" class="py-10 pr-5 font-bold sb-link js-load hover:underline text-toplineColor font-title"><span class="hidden">Zur Seite </span>1</a>   
            <a href="{{lastButOnePageItemUrl}}" class="font-bold sb-link js-load hover:underline text-toplineColor font-title"><span class="hidden">Zur Seite </span>2</a>   
            <span class="py-10 pl-5 font-bold font-title">3</span>   
        </div>   
        {{> components/pagination/pagination_button_right }}  
    {{~/if~}}     
{{~/if~}}