{{#with this.commentLink}}
    <span class="relative whitespace-nowrap z-100">
        {{#decorator 'components/base/link' _css="hover:underline decoration-1" _isAriaHidden=true}}
            {{> components/base/image/icon _icon="kommentar" _iconmap="icons" _addClass="mr-0.5 inline w-5 h-5 text-toplineColor fill-current"}}
            <span class="sr-only">{{loca "comment_anchor_1"}}</span>
            <span class="text-toplineColor">{{../this.commentNumber}}</span>
            {{#if ../this.hasOneComment}}
                <span class="text-toplineColor">{{loca "comment_label_text"}}</span>
            {{else}}
                <span class="text-toplineColor">{{loca "comment_label_text_many"}}</span>
            {{/if}}
            <span class="sr-only">{{loca "comment_anchor_2"}}</span>
        {{/decorator}}
    </span>
{{/with}}