{{#if this.hasByline}}
    <p class="mt-2 text-xs text-gray-scorpion font-headingSerif empty:hidden overflow-anywhere hyphens-auto">
        {{!--Teaser-Info--}}
        {{~#with this.teaserInfo~}}
            {{~#if this.showTeaserInfo~}}
                {{~#if this.showTeaserInfoDate~}}
                    {{~#with ../this.teaserDate~}}
                        <time datetime="{{this.htmlDateTime}}">{{this.date}}</time><span class="mx-1 last-of-type:hidden">|</span>
                    {{~/with~}}
                {{~/if~}}
                {{~#if this.showTeaserInfoDateTime~}}
                    {{~#with ../this.teaserDate~}}
                        <time datetime="{{this.htmlDateTime}}">{{loca "date_simple_at" this.dateSeparatorTime}}</time><span class="mx-1 last-of-type:hidden">|</span>
                    {{~/with~}}
                {{~/if~}}
                {{~#if this.showTeaserInfoSection~}}
                    <span>
                        {{~../this.documentSection~}}
                    </span> <span class="mx-1 last-of-type:hidden">|</span>
                {{~/if~}}
                {{~#if this.showTeaserInfoChannel~}}
                    {{../this.podcastChannel.title}}<span class="mx-1 last-of-type:hidden">|</span>
                {{~/if~}}
                {{~#if this.showTeaserInfoProgramRef~}}
                    {{~#with ../this~}}
                        {{> components/teaser/components/teaser_byline_airdate}}
                    {{~/with~}}<span class="mx-1 last-of-type:hidden">|</span>
                {{~/if~}}
            {{~/if~}}
        {{~/with~}}
        {{!--File download--}}
        {{~#if this.isFileDownload~}}
            {{~#with this.teaserImage~}}
                {{loca "gallery_image_copyright" this.copyrightWithLinks}}
            {{~/with~}}
        {{~/if~}}
        {{!--Profiles--}}
        {{~#if this.profiles~}}
            <span>{{this.profiles}}</span> <span class="mx-1 last-of-type:hidden">|</span>
        {{~/if~}}
        {{!--Comments--}}
        {{~#with this.commentsSsi~}}
            {{> components/base/loadSSI _templatePath='components/teaser/components/teaser_comments' }}
        {{~/with~}}
    </p>
{{/if}}