<figure class="relative {{_addClass}}" x-data="{ avStart: false }">
    {{~> components/base/a11y/hiddenText _locaTag=_a11yIntro-loca ~}}
    {{#unless _voting-option}}
        <div class="py-3 sm:py-4 {{#unless _noBorder}}border-t-[3px] border-gray-boulder dark:border-text-dark {{/unless}}{{_cssClassCaption}}">
            {{#if this.label}}
                {{#> components/label/label_group _css="dark:text-text-dark"}}
                    {{#with this.label}}
                        {{~> components/label/label _type=this.type _text=(loca this.loca) }}
                        {{~> components/label/label_byline _css="ml-2"}}
                    {{/with~}}
                    {{~> components/content/copytext/components/media/media_figure_byline this}}
                {{/components/label/label_group}}
            {{/if~}}
            {{#if _hasHeadline}}
                {{#with this.toModel.mediaBacklinkToStoryTeaser}}
                    {{#>components/base/link _link=this.link _css="hover:underline hover:!decoration-1 text-link dark:text-link-dark ds-link block"}}
                        {{> components/content/copytext/components/media/media_figure_headline}}
                    {{/components/base/link}}
                {{/with}}
            {{/if}}
        </div>
    {{/unless}}
    {{#if this.isAudioOnDemand}}
        {{~> components/mediaplayer/media_player this.toModel.audioElement _playerLocation=_playerLocation _playerSize=_playerSize _uiTestHook="ui-test-audio-ondemand-player" _isAudioView=true _addClassImg=_addClassImg ~}}
    {{/if}}
    {{#if this.isAudioEventLivestream}}
        {{~> components/mediaplayer/media_player this.toModel.audioLivestreamElement _playerLocation=_playerLocation _playerSize=_playerSize _uiTestHook="ui-test-audio-livestream-player" _isAudioView=true _addClassImg=_addClassImg ~}}
    {{/if}}
    {{#if this.isVideoOnDemand}}
        {{#with this.toModel.videoElement}}
            {{#if ../_isSticky}}
                {{#> components/mediaplayer/mediaPlayer_stickyWrapper}}
                    {{~> components/mediaplayer/media_player this _playerLocation=../_playerLocation _playerSize=../_playerSize _uiTestHook="ui-test-video-ondemand-player" _isUsedInTeaser=true _addClassImg=../_addClassImg ~}}
                    {{~> components/teaser/components/teaser_media_player ../this _isFullsize=../_isFullsize _playerId=this.ardPlayerConfig.playerId _css="flex items-center justify-center" _isLead=../_isLead _isUsedInCopytext=true _mediaButtonIcon="play_button" _mediaButtonLabel="Video" _aspectRatio="ar-16-9" _noDelay=../_isLead }}
                {{/components/mediaplayer/mediaPlayer_stickyWrapper}}
            {{else}}
                {{~> components/mediaplayer/media_player this _playerLocation=../_playerLocation _playerSize=../_playerSize _uiTestHook="ui-test-video-ondemand-player" _isUsedInTeaser=true _addClassImg=../_addClassImg ~}}
                {{~> components/teaser/components/teaser_media_player ../this _isFullsize=../_isFullsize _playerId=this.ardPlayerConfig.playerId _css="flex items-center justify-center" _isLead=../_isLead _isUsedInCopytext=true _mediaButtonIcon="play_button" _mediaButtonLabel="Video" _aspectRatio="ar-16-9" _noDelay=../_isLead }}
            {{/if}} 
        {{/with}}
    {{/if}}
    {{#if this.isLivestream}}
        {{#with this.toModel.videoLivestreamElement}}
            {{#if ../_isSticky}}
                {{#> components/mediaplayer/mediaPlayer_stickyWrapper}}
                    {{~> components/mediaplayer/media_player this _playerLocation=../_playerLocation _playerSize=../_playerSize _uiTestHook="ui-test-video-ondemand-player" _isUsedInTeaser=true _addClassImg=../_addClassImg ~}}
                    {{~> components/teaser/components/teaser_media_player ../this _isFullsize=../_isFullsize _playerId=this.ardPlayerConfig.playerId _css="flex items-center justify-center" _isLivestream=true _isLead=../_isLead _isUsedInCopytext=true _mediaButtonIcon="play_button" _mediaButtonLabel="Live" _aspectRatio="ar-16-9" _noDelay=../_isLead }}
                {{/components/mediaplayer/mediaPlayer_stickyWrapper}}
           {{else}}
                {{~> components/mediaplayer/media_player this _playerLocation=../_playerLocation _playerSize=../_playerSize _uiTestHook="ui-test-video-ondemand-player" _isUsedInTeaser=true _addClassImg=../_addClassImg ~}}
                {{~> components/teaser/components/teaser_media_player ../this _isFullsize=../_isFullsize _playerId=this.ardPlayerConfig.playerId _css="flex items-center justify-center" _isLivestream=true _isLead=../_isLead _isUsedInCopytext=true _mediaButtonIcon="play_button" _mediaButtonLabel="Live" _aspectRatio="ar-16-9" _noDelay=../_isLead }}
            {{/if}} 
        {{/with}}
    {{/if}}
    {{#if this.isGallery}}
        {{~> components/content/copytext/components/gallery/galleryitem_copytext _cssClassCaption=_cssClassCaption ~}}
    {{/if}}
    {{#unless _voting-option}}
        {{#unless this.isGallery}}
            {{#if this.teaseritem}}
                {{#if this.isAudio}}
                    {{~#> components/content/copytext/components/image/caption this.teaseritem _cssClassCaption=_cssClassCaption~}}
                        {{~> components/content/copytext/components/image/image_copyright~}}
                        <span class="mx-1.5">|</span>
                        {{~#with ../this.toModel.mediaBacklinkToStoryTeaser-adjust_context~}}
                            {{~#>components/base/link _link=this.link _css="hover:underline hover:!decoration-1 text-link dark:text-link-dark"~}}
                                <span>
                                    {{~this.readMore~}}
                                    {{~#if this.hasIcon}}
                                        {{~> components/base/image/icon _icon=this.iconName _iconmap="icons" _addClass="inline -mt-0.5 ml-1 w-5 h-5 fill-current"~}}
                                    {{~/if~}}
                                </span>
                            {{~/components/base/link~}}
                        {{~/with~}}
                    {{~/components/content/copytext/components/image/caption~}}
                {{else}}
                    {{~#> components/content/copytext/components/image/collapsible_caption this.teaseritem _cssClassCaption=_cssClassCaption~}}
                        {{#if this.caption}} {{~> components/content/copytext/components/image/image_caption_text~}} {{/if}}
                        {{~> components/content/copytext/components/image/image_copyright~}}
                    {{~/components/content/copytext/components/image/collapsible_caption~}}
                {{/if}}
            {{/if}}
        {{/unless}}
    {{/unless}}
    {{~> components/base/a11y/hiddenText _locaTag=_a11yOutro-loca ~}}
</figure>