<li x-init="chooseListItemStyles({{_teasersize}},{{_islist}},{{_ismixed}},{{_isdropdown}},{{_isflow}})" 
class="h-8 overflow-hidden text-base font-copy list-none border-blue-congress fill-congress hover:fill-white text-blue-congress hover:text-white hover:underline {{#if this.isSelected}} -current{{/if}} c-content-nav__item">
     {{#>components/base/link.hbs 
        _doNavigationTracking="true" 
        _clickLabelType="Contentnavigation" 
        _clickLabelPrefix1=this.title 
        _css="flex items-center py-2 px-4 h-8 bg-white hover:bg-blue-congress whitespace-nowrap overflow-hidden" 
        _isSelected=this.isSelected
        _selectedCssClass="is-selected"
     }}

        <span>
            {{>components/base/image/icon _icon="arrow-right" _addClass=" h-4 w-4 mr-2" }} 
        </span>

        <span class="mt-1 text-base font-copy js-title">{{this.title}}</span>

        {{#if this.link.hasIcon}}
            {{> components/base/image/icon _icon=this.link.iconName _addClass="mt-1 ml-2 h-4 w-4" _iconmap="icons"}}
        {{/if}}

    {{/components/base/link.hbs}} 
</li>


