<ul class="flex flex-wrap {{#if this.isList}}  {{else}} {{/if}} z-1003 md:!px-0 last:border-b-0 {{#if this.isDropdown }}  {{/if}}" 
    :class="( ({{this.isMixed}} && {{_teasersize}} < 50 ) || ( {{this.isMixed}} && window.innerWidth < 768 ) || {{this.isDropdown}} ) && contentNavDropdownIsOpen == true ? '!shadow-[1px_8px_9px_0px_rgba(50,50,93,0.10)] mt-0 w-full  mr-2 md:mr-0 ' : ''"
    > 
    
    {{~#each this.contentNavEntries~}}
          
        {{~#if this.isGroup~}}
        
            {{#if ../isDropdown}}               
                <li class="w-full h-auto overflow-hidden text-base list-none border-b border-gray-400 bg-blue-accented text-blue-congress md:mx-0 font-copy fill-congress c-content-nav__group">
                    <div class="flex items-center h-10 p-2 c-content-nav__group-title">{{this.title}}</div>
                    <ul class="c-content-nav__group-list !px-0 mt-0">
                        {{~#each this.navigationGroup~}}
                            {{> components/content_nav/content_nav_item 
                                _teasersize=../../_teasersize 
                                _isdropdown=../../isDropdown 
                                _ismixed=../../isMixed 
                                _islist=../../isList 
                                _isflow=../../isFlow}}
                        {{~/each~}}
                    </ul>
                </li> 
            {{/if}}
        {{else}}           
            {{> components/content_nav/content_nav_item  
                _teasersize=../_teasersize 
                _isdropdown=../isDropdown 
                _ismixed=../isMixed 
                _islist=../isList 
                _isflow=../isFlow}}
        {{~/if~}}
    {{~/each~}}
</ul>
