<li :class="{{_isdropdown}} ? '!w-full md:!w-full md:mb-0 md:!mr-0 border-l-0 border-r-0 border-t-0 border-b last:border-b-0' 
            : {{_ismixed}} && {{_teasersize}} >= 66 ? '!w-full md:!w-fit !mb-0 md:!mb-2 md:mr-2 border-l-0 border-r-0 border-t-0 border-b last:border-b-0 md:!border' 
            : {{_ismixed}} && {{_teasersize}} <= 50 ? '!w-full !mb-0 border-b last:border-b-0'
            : {{_islist}} && {{_teasersize}} == 100 ? 'border mb-2 md:!mr-2 '
            : {{_islist}} && {{_teasersize}} >= 66 ? 'border mb-2 !mr-2 '
            : {{_islist}} && {{_teasersize}} <= 50 ? 'border mb-2 md:!mr-2'
            : {{_isflow}} ? '!w-fit !mr-2 border mb-2'
            : '' " 

class="{{inline-switch _teasersize '["100","66","50","33","25"]' '["w-full md:w-fit","w-fit","w-full","w-full","w-full"]'}} overflow-hidden text-base font-copy list-none border-blue-congress fill-congress hover:fill-white text-blue-congress hover:text-white hover:underline {{#if this.isSelected}} -current{{/if}} c-content-nav__item">
     {{#>components/base/link.hbs 
        _doNavigationTracking="true" 
        _clickLabelType="Contentnavigation" 
        _clickLabelPrefix1=this.title 
        _css="flex items-center py-2 px-4 h-8 bg-white hover:bg-blue-congress whitespace-nowrap overflow-hidden" 
        _isSelected=this.isSelected
        _selectedCssClass="is-selected"
     }}

        <span>
            {{>components/base/image/icon _icon="arrow-right" _addClass=" h-4 w-4 mr-2" }} 
        </span>

        <span class="mt-1 text-base font-copy js-title">{{this.title}}</span>

        {{#if this.link.hasIcon}}
            {{> components/base/image/icon _icon=this.link.iconName _addClass="mt-1 ml-2 h-4 w-4" _iconmap="icons"}}
        {{/if}}

    {{/components/base/link.hbs}} 
</li>
