<ul {{!-- x-init="addDependentCssToUl({{this.isMixed}},{{this.isDropdown}},{{_teasersize}})"   --}}
:class="{{this.isMixed}} && {{_teasersize}} < 66 || ({{this.isMixed}} && window.innerWidth < 768) || {{this.isDropdown}} ? 'shadow-[0_13px_27px_-2px_rgba(50,50,93,0.25)]' : ''" 
    class="flex flex-wrap w-full m-0 last:border-b-0">
    
    {{~#each this.contentNavEntries~}}
          
        {{~#if this.isGroup~}}
        
            {{#if ../isDropdown}}            
                
                <li class="c-content-nav__group">
                    <div class="c-content-nav__group-title">{{this.title}}</div>
                    <ul class="c-content-nav__group-list">
                        {{~#each this.navigationGroup~}}
                            {{> components/content_nav/content_nav_item }}
                        {{~/each~}}
                    </ul>
                </li>
                
            {{/if}}
        {{else}}
            
            {{> components/content_nav/content_nav_item  _teasersize=../_teasersize _isdropdown=../isDropdown _ismixed=../isMixed _islist=../isList}}
 
        {{~/if~}}
    {{~/each~}}
</ul>

