<nav  
    class="w-full px-2 md:px-0  {{_componentClass}} " 
    id="dropdown--{{nextRandom}}"
    tabindex="0"
    role="navigation"
    aria-labelledby="dropdown__label--{{getRandom}}">

    <span id="dropdown__label--{{getRandom}}" class="hidden">{{defaultIfEmpty _hiddenNavigationLabel "Unternavigation"}}</span>

    <div x-show="shouldDropdownBeShown({{_teasersize}},{{this.isDropdown}},{{this.isMixed}})" 
        :class="contentNavDropdownIsOpen ? 'shadow-[1px_4px_5px_0px_rgba(50,50,93,0.10)]' : ''"
        class="relative flex w-full h-10 mb-2 overflow-hidden bg-white border z-1002 border-blue-congress whitespace-nowrap text-blue-congress fill-congress"
    >
        <span class="self-center w-full p-2 text-base">{{_buttonText}}</span>
        <div class="flex self-center w-auto h-full px-3 py-1 border-l border-blue-congress">
            <span @click="contentNavDropdownIsOpen = !contentNavDropdownIsOpen;  " 
                :class="contentNavDropdownIsOpen ? 'hidden' : ''"  
                class="flex self-center"
            >
                {{~> components/base/image/icon _icon=(defaultIfEmpty _iconOpen "arrow-down") _addClass="h-4 w-4" _iconmap="icons"~}}    
            </span>
            <span @click="contentNavDropdownIsOpen = !contentNavDropdownIsOpen; $dispatch('resetinput');  " 
                :class="contentNavDropdownIsOpen ? '' : 'hidden'" 
                class="flex self-center"
            >
                {{~> components/base/image/icon _icon=(defaultIfEmpty _iconClose "arrow-up") _addClass="h-4 w-4" _iconmap="icons"~}}
            </span>
        </div>
    </div>    
    <div x-show="shouldContentBeShown({{_teasersize}},{{this.isDropdown}},{{this.isMixed}})" 
        aria-haspopup="true"
        :class="contentNavDropdownIsOpen ? 'z-9999 w-auto ' : ' z-1003'" 
        class="p-0 m-0 md:left-0 md:h-auto md:overflow-visible">
       {{~decorator_body~}}
    </div>
    
</nav>