<li :class="{{_isdropdown}} ? '!w-full md:!w-full mb-2 md:mb-0 md:!mr-0 border-l-0 border-r-0 border-t-0 border-b last:border-b-0 !rounded-none ' 
            : {{_ismixed}} && {{_teasersize}} >= 66 ? '!w-full md:!w-fit md:!mr-2 !mb-0 md:!mb-2 border-l-0 border-r-0 border-t-0 border-b last:border-b-0 rounded-none md:!border md:!rounded' 
            : {{_ismixed}} && {{_teasersize}} <= 50 ? '!w-full border-b !mb-0 last:border-b-0'
            : {{_islist}} ? 'border rounded mb-2 last:mb-0 md:last:mb-2' 
            : '' " 
class="{{inline-switch _teasersize '["100","66","50","33","25"]' '["w-full md:w-fit md:mr-2","w-fit mb-2 md:mr-2","w-full mb-2","w-full mb-2","w-full mb-2"]'}} overflow-hidden text-base font-copy list-none border-blue-congress fill-congress hover:fill-white text-blue-congress hover:text-white hover:underline {{#if this.isSelected}} -current{{/if}} c-content-nav__item">
     {{#>components/base/link.hbs 
        _doNavigationTracking="true" 
        _clickLabelType="Contentnavigation" 
        _clickLabelPrefix1=this.title 
        _css="flex items-center py-2 px-4 h-8 bg-white hover:bg-blue-congress rounded-sm whitespace-nowrap overflow-hidden" 
        _isSelected=this.isSelected
        _selectedCssClass="is-selected"
     }}

        <span>
            {{>components/base/image/icon _icon="arrow-right" _addClass=" h-4 w-4 mr-2" }} 
        </span>

        <span class="mt-1 text-base font-copy js-title">{{this.title}}</span>

        {{#if this.link.hasIcon}}
            {{> components/base/image/icon _icon=this.link.iconName _addClass="mt-1 ml-2 h-4 w-4" _iconmap="icons"}}
        {{/if}}

    {{/components/base/link.hbs}} 
</li>