<nav x-cloak
     class="w-full {{#if this.isMixed}} px-2 {{else}} px-0 {{/if}}  {{_componentClass}} "
     id="dropdown--{{nextRandom}}"
     tabindex="0"
     role="navigation"
     aria-labelledby="dropdown__label--{{getRandom}}">

    <span id="dropdown__label--{{getRandom}}" class="hidden">{{defaultIfEmpty _hiddenNavigationLabel "Unternavigation"}}</span>

    <div x-show="shouldDropdownBeShown({{_teasersize}},{{this.isDropdown}},{{this.isMixed}})"
         :class="contentNavDropdownIsOpen ? 'shadow-[1px_4px_5px_0px_rgba(50,50,93,0.10)]' : ''"
         class="relative flex w-auto h-10 mx-2 mb-0 overflow-hidden bg-white border md:mx-0 z-100 border-content-nav whitespace-nowrap text-content-nav fill-content-nav"
         @click="contentNavDropdownIsOpen = !contentNavDropdownIsOpen;  $dispatch('hr:global:resetinputAutoSuggest');" 
    >
        <span class="self-center w-full p-2 text-base">{{_buttonText}}</span>
        <div class="flex self-center w-auto h-full border-l border-content-nav">
            <button :class="contentNavDropdownIsOpen ? 'hidden' : ''"
                  class="flex self-center px-3 py-3"
            >
                {{~> components/base/image/icon _icon=(defaultIfEmpty _iconOpen "arrow-down") _addClass="h-4 w-4" _iconmap="icons"~}}
            </button>
            <button :class="contentNavDropdownIsOpen ? '' : 'hidden'"
                  class="flex self-center px-3 py-3"
            >
                {{~> components/base/image/icon _icon=(defaultIfEmpty _iconClose "arrow-up") _addClass="h-4 w-4" _iconmap="icons"~}}
            </button>
        </div>
    </div>
    <div x-show="shouldContentBeShown({{_teasersize}},{{this.isDropdown}},{{this.isMixed}})"
         aria-haspopup="true"
         @click.outside="contentNavDropdownIsOpen = false; $dispatch('hr:global:resetinputAutoSuggest');"
         :class="contentNavDropdownIsOpen ? 'z-9999 relative' : ' z-1003'"
         class="{{#if this.isDropdown}} mx-2 md:mx-0 bla {{else}}{{#if this.isMixed}} mx-2 {{/if}} mx-2 {{/if}} md:h-auto md:overflow-visible">
        {{~decorator_body~}}
    </div>

</nav>