<nav class="w-full px-5 sm:px-0 {{inline-switch _teaserSize '["100","66","50","33","25"]' '[" teaser-size-100"," teaser-size-66"," teaser-size-50"," teaser-size-33"," teaser-size-25", ""]'}}"
     :class="contentNavDropdownIsOpen ? 'h-10' : ''"
     id="dropdown--{{nextRandom}}"
     @click.outside ="contentNavDropdownIsOpen = false; $dispatch('hr:global:resetinputAutoSuggest')"
     role="navigation"
     aria-labelledby="dropdown__label--{{getRandom}}">

    <span id="dropdown__label--{{getRandom}}" class="hidden">{{defaultIfEmpty _hiddenNavigationLabel "Unternavigation"}}</span>
    <button 
         class="content-nav-dropdown_dropdown{{#if this.isDropdown}} -isDropdown{{/if}}{{#if this.isMixed}} -isMixed{{/if}} ds-link-inset relative flex w-full h-10  mb-0 overflow-hidden bg-white border md:mx-0 z-100 border-content-nav whitespace-nowrap text-content-nav fill-content-nav"
         @click="contentNavDropdownIsOpen = !contentNavDropdownIsOpen;  $dispatch('hr:global:resetinputAutoSuggest');" 
        
         {{#if this.isMixed}}
            @resize.window="if(window.innerWidth > 767){contentNavDropdownIsOpen = false}; $dispatch('hr:global:resetinputAutoSuggest')"
         {{/if}}
    >
        <span class="self-center w-full px-2 pt-1 text-base leading-4 text-left">{{_buttonText}}</span>
        <div class="flex self-center w-auto h-full border-l border-content-nav">
            <span :class="{'hidden' : contentNavDropdownIsOpen}"
                  class="flex self-center px-3 py-3"
            >
                {{~> components/base/image/icon _icon=(defaultIfEmpty _iconOpen "arrow-down") _addClass="h-4 w-4" _iconmap="icons"~}}
            </span>
            <span :class="{'hidden' : !contentNavDropdownIsOpen}"
                  class="flex self-center hidden px-3 py-3"
            >
                {{~> components/base/image/icon _icon=(defaultIfEmpty _iconClose "arrow-up") _addClass="h-4 w-4" _iconmap="icons"~}}
            </span>
        </div>
    </button>
    <div :class="{'-isClosed' : !contentNavDropdownIsOpen,
                '-isOpen'   :  contentNavDropdownIsOpen}"
         aria-haspopup="true"       
         class="content-nav-dropdown_content{{#if this.isDropdown}} -isDropdown {{/if}}{{#if this.isMixed}} -isMixed{{/if}} md:h-auto md:overflow-visible relative -isClosed"
         >
        {{~decorator_body~}}
    </div>

</nav>