{{~#with this.twitterLink ~}}
    <li class="c-shareCompact__item">
        <a class="c-shareCompact__link touchArea js-shareLinkTwitter"
           href="{{this}}"
           target="_blank"
           rel="noopener noreferrer"
           title="{{loca "share_x_linktitle" }}"
        >
            {{~> base/image/icon _addClass="icon--twitter" _icon="x" _iconmap="icons" ~}}
        </a>
    </li>
{{~/with~}}
{{~#with this.facebookLink ~}}
    <li class="c-shareCompact__item">
        <a class="c-shareCompact__link touchArea js-shareLinkFacebook"
           href="{{this}}"
           target="_blank"
           rel="noopener noreferrer"
           title="{{loca "share_facebook_linktitle" }}"
        >
            {{~> base/image/icon _addClass="icon--facebook" _icon="facebook" _iconmap="icons" ~}}
        </a>
    </li>
{{~/with~}}
{{~#with this.whatsappLink ~}}
    <li class="c-shareCompact__item -whatsapp">
        <a class="c-shareCompact__link touchArea js-shareLinkWhatsapp"
           href="{{this}}"
           target="_blank"
           rel="noopener noreferrer"
           title="{{loca "share_whatsapp_linktitle" }}"
        >
            {{~> base/image/icon _addClass="icon--whatsapp" _icon="whatsapp" _iconmap="icons" ~}}
        </a>
    </li>
{{~/with~}}
{{~#with this.mailtoLink ~}}
    <li class="c-shareCompact__item ">
        <a class="c-shareCompact__link touchArea js-shareLinkMail"
           href="{{this}}"
           title="{{loca "share_mail_linktitle" }}"
            {{#with ../../this.content.trackingData}}
           data-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "{{this.secondLevelId}}","clickLabel": "newSocialShareClick::compact-mailto"}]}'
            {{/with}}
        >
            {{~> base/image/icon _addClass="icon--mailto" _icon="mail" _iconmap="icons" ~}}
        </a>
    </li>
{{~/with~}}

<li class="c-shareCompact__item -copy">
    <button class="c-shareCompact__link touchArea js-shareLinkCopy"

            title="{{loca "share_copy_linktitle" }}"
        {{#with ../../this.content.trackingData}}
            data-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "{{this.secondLevelId}}","clickLabel": "newSocialShareClick::compact-copy"}]}'
        {{/with}}
    >
        {{~> base/image/icon _addClass="icon--mailto" _icon="copy" _iconmap="icons" ~}}
    </button>
</li>
