<article class="col-span-12 flex gap-y-3 gap-x-4 {{inline-switch this.teaserSize '["25","33","50"]' '["js-is1to1 px-5 md:px-0 md:col-span-3 flex-row md:flex-col","md:col-span-4 flex-col","md:col-span-6 flex-col","flex-col"]'}} "
{{#switch this.teaserSize~}}
    {{~#case "25"}}  
        x-data="{ videoStart: false }"
        :class="videoStart ? 'flex-col' : 'flex-row'"
    {{/case~}}
{{~/switch~}}   
>
    <figure class="relative {{inline-switch this.teaserSize '["25"]' '["basis-2/5 md:flex-full ar-1-1 md:ar-16-9", "ar-16-9"]'}} ">    
        {{> components/teaser/components/teaser_lead }}       
    </figure>
    <div class="{{inline-switch this.teaserSize '["25"]' '["basis-3/5 md:flex-full"]'}} ">
        {{#switch this.teaserSize~}}
            {{~#case "25"}}  
                <button x-show="videoStart" @click="videoStart = false; $dispatch('player_colosed')">Video schließen</button>
            {{/case~}}
        {{~/switch~}}   
        <header class="md:px-0 {{inline-switch teaserSize '["25"]' '["","px-5"]'}}">
            {{#>components/base/link css="hover:text-toplineColor" doTracking=(if this.doTracking 'true') clickLabelPrefix1=this.teaserSize clickLabelPrefix2="headlineLink" }} 
                {{> components/teaser/components/teaser_heading 
                fontVariant=this.headingFontVariant
                headlineTag=this.headlineTag 
                label=this.label 
                readMore=this.link.readMoreText.readMoreScreenreader 
                size=this.teaserSize 
                title=this.title 
                topline=this.topline 
                teaserType=this.teaserType}}            
            {{/components/base/link}}   
        </header>
        <section class="md:px-0 {{inline-switch this.teaserSize '["25"]' '["","px-5"]'}}">
            {{> components/teaser/components/teaser_text text=this.shorttext size=this.teaserSize }}
            {{> components/teaser/components/teaser_byline}} 
        </section>
    </div>
</article>