<article class="col-span-12 flex gap-y-3 gap-x-4 
    {{~inline-switch this.teaserSize '["25","33","50"]' '[" md:col-span-3"," md:col-span-4"," md:col-span-6",""]'}}
    {{~#if this.isMobile1to1}} js-is1to1 px-5 md:px-0 md:flex-col{{else}} flex-col{{/if~}} 
     "
    x-data="{ avStart: false }"
    {{#if this.isMobile1to1}}
            :class="avStart ? 'flex-col' : 'flex-row'"
    {{/if}}   
    >
   
    {{#if this.isEvent}}
    {{! ---- To handle two events ----}}
        {{#if this.moreThenOneEvent}}
            <article class="mx-5 md:mx-0 relative col-span-12 flex gap-y-4 gap-x-4 {{inline-switch teaserSize '["33","50"]' '["md:col-span-4 flex-col","md:col-span-6 flex-col","flex-col"]'}} ">
                <figure class="relative 
                    {{~#if this.isMobile1to1}} basis-2/5 md:flex-full ar-1-1 md:ar-16-9{{else}} ar-16-9{{/if~}}">    
                    {{> components/teaser/components/teaser_lead _isMobile1to1=this.isMobile1to1 _teaserSize=this.teaserSize _aspectRatio=(inline-switch this.teaserSize '["25"]' '["ar-1-1 md:ar-16-9", "ar-16-9"]') }}     
                </figure>
                <div class="absolute flex justify-center w-16 h-full bg-gradient-to-t from-white
                    {{inline-switch teaserSize '["100"]' '["bottom-0 w-full h-2/5 bg-neutral-200 opacity-80"]'}}" 
                    aria-hidden="true">
                    <div class="self-center block mx-4 text-center text-black">
                        <span class="text-xl font-headingSerif font-bold">{{ this.firstInstant.startDate.day}}</span>
                        <span class="text-xl font-headingSerif">{{this.lastInstant.startDate.monthNameShort}}</span>
                        +<br>
                        <span class="text-xl font-headingSerif font-bold">{{this.lastInstant.startDate.day}}</span>
                        <span class="text-xl font-headingSerif">{{this.lastInstant.startDate.monthNameShort}} </span>
                    </div>
                    <div class="{{~#if this.isMobile1to1}}basis-3/5 md:flex-full{{/if~}}
                        {{inline-switch teaserSize '["100"]' '["border-l-2 border-dotted pt-5 pl-4 border-slate-600"]'}}
                        {{inline-switch teaserSize '["50","33"]' '[" hidden"," hidden"]'}}">
                            <header class="md:px-0{{#unless this.isMobile1to1}} px-5{{/unless}}">
                                {{#decorator 'components/base/link' css="hover:text-toplineColor" }} 
                                {{> components/teaser/components/teaser_heading 
                                fontVariant=this.headingFontVariant
                                headlineTag=this.headlineTag 
                                label=this.label 
                                readMore=this.link.readMoreText.readMoreScreenreader 
                                size=this.teaserSize 
                                title=this.title 
                                topline=this.topline 
                                teaserType=this.teaserType
                                _isMobile1to1=this.isMobile1to1}}            
                                {{/decorator}}   
                            </header>
                            <section class="md:px-0{{#unless this.isMobile1to1}} px-5{{/unless}}">
                                {{> components/teaser/components/teaser_text text=this.shorttext size=this.teaserSize }}
                            </section>
                        </div>
                    </div>
            </article>
            {{else if this.moreThenTwoEvents}}
                {{! ---- To handle more than two events ----}}
                <article class="mx-5 md:mx-0 relative col-span-12 flex gap-y-4 gap-x-4 {{inline-switch teaserSize '["33","50"]' '["md:col-span-4 flex-col","md:col-span-6 flex-col","flex-col"]'}} ">
                <figure class="relative 
                    {{~#if this.isMobile1to1}} basis-2/5 md:flex-full ar-1-1 md:ar-16-9{{else}} ar-16-9{{/if~}}">    
                    {{> components/teaser/components/teaser_lead _isMobile1to1=this.isMobile1to1 _teaserSize=this.teaserSize _aspectRatio=(inline-switch this.teaserSize '["25"]' '["ar-1-1 md:ar-16-9", "ar-16-9"]') }}     
                </figure>
                <div class="absolute flex justify-center w-16 h-full bg-gradient-to-t from-white" aria-hidden="true">
                    <div class="self-center block mx-4 text-center text-black">
                        <span class="text-xl font-headingSerif font-bold">{{ this.firstInstant.startDate.day }}   </span>
                        <span class="text-xl font-headingSerif">{{this.lastInstant.startDate.monthNameShort  }} </span>
                        |<br>
                        <span class="text-xl font-headingSerif font-bold">{{this.lastInstant.startDate.day }}   </span>
                        <span class="text-xl font-headingSerif">{{this.lastInstant.startDate.monthNameShort  }} </span>
                    </div>
                </div>
                </article>
            {{else}}
                {{! ---- To handle a single event ----}}
                <article class="mx-5 md:mx-0 relative col-span-12 flex gap-y-4 gap-x-4 {{inline-switch teaserSize '["33","50"]' '["md:col-span-4 flex-col","md:col-span-6 flex-col","flex-col"]'}} ">
                    <figure class="relative 
                        {{~#if this.isMobile1to1}} basis-2/5 md:flex-full ar-1-1 md:ar-16-9{{else}} ar-16-9{{/if~}}">    
                        {{> components/teaser/components/teaser_lead _isMobile1to1=this.isMobile1to1 _teaserSize=this.teaserSize _aspectRatio=(inline-switch this.teaserSize '["25"]' '["ar-1-1 md:ar-16-9", "ar-16-9"]') }}     
                    </figure>
                    <div class="absolute flex justify-center w-16 h-full bg-gradient-to-t from-white
                    {{inline-switch teaserSize '["100"]' '["bottom-0 w-full h-2/5 bg-neutral-200 opacity-80"]'}}" 
                    aria-hidden="true">
                        <div class="self-center block mx-4 text-center text-black">
                            <span class="text-xl font-headingSerif">{{this.lastInstant.startDate.weekdayNameShort  }} </span>
                            <span class="text-xl font-headingSerif">{{this.lastInstant.startDate.day  }} </span>
                            <span class="text-xl font-headingSerif">{{this.lastInstant.startDate.monthNameShort  }} </span>
                        </div>
                        <div class=" {{~#if this.isMobile1to1}}basis-3/5 md:flex-full{{/if~}}
                        {{inline-switch teaserSize '["100"]' '["border-l-2 border-dotted pt-5 pl-4 border-slate-600"]'}}
                        {{inline-switch teaserSize '["50","33"]' '[" hidden"," hidden"]'}}">
                            <header class="md:px-0{{#unless this.isMobile1to1}} px-5{{/unless}}">
                                {{#decorator 'components/base/link' _css="hover:text-toplineColor" }} 
                                {{> components/teaser/components/teaser_heading 
                                fontVariant=this.headingFontVariant
                                headlineTag=this.headlineTag 
                                label=this.label 
                                readMore=this.link.readMoreText.readMoreScreenreader 
                                size=this.teaserSize 
                                title=this.title 
                                topline=this.topline 
                                teaserType=this.teaserType
                                _isMobile1to1=this.isMobile1to1}}            
                                {{/decorator}}   
                            </header>
                            <section class="md:px-0{{#unless this.isMobile1to1}} px-5{{/unless}}">
                                {{> components/teaser/components/teaser_text text=this.shorttext size=this.teaserSize }}
                            </section>
                        </div>
                    </div>
                </article>
        {{/if}}
    {{else}}
        <figure class="relative 
            {{~#if this.isMobile1to1}} basis-2/5 md:flex-full ar-1-1 md:ar-16-9{{else}} ar-16-9{{/if~}}">    
            {{> components/teaser/components/teaser_lead _isMobile1to1=this.isMobile1to1 _teaserSize=this.teaserSize _aspectRatio=(inline-switch this.teaserSize '["25"]' '["ar-1-1 md:ar-16-9", "ar-16-9"]') }}     
        </figure>
    {{/if}} 
        <div class="{{~#if this.isMobile1to1}}basis-3/5 md:flex-full{{/if~}}{{inline-switch teaserSize '["100"]' '[" hidden"]'}}">
            <header class="md:px-0{{#unless this.isMobile1to1}} px-5{{/unless}}">
                {{#decorator 'components/base/link' _css="hover:text-toplineColor" }} 
                {{> components/teaser/components/teaser_heading 
                fontVariant=this.headingFontVariant
                headlineTag=this.headlineTag 
                label=this.label 
                readMore=this.link.readMoreText.readMoreScreenreader 
                size=this.teaserSize 
                title=this.title 
                topline=this.topline 
                teaserType=this.teaserType
                _isMobile1to1=this.isMobile1to1}}            
                {{/decorator}}   
            </header>
            <section class="md:px-0{{#unless this.isMobile1to1}} px-5{{/unless}}">
                {{> components/teaser/components/teaser_text text=this.shorttext size=this.teaserSize }}
            </section>
        </div>
</article>