<a href="#" class="hover:text-toplineColor">
    <{{headlineTag}} class="{{inline-switch font '["headingSerif","heading"]' '["font-headingSerif","font-heading"]'}} {{inline-switch bold '["true","false"]' '["font-bold"]'}} {{class}}" >
        {{#if topline}}
            {{> components/Teaser/Topline text=topline }}
        {{/if}}
        {{> components/Teaser/Title text=headline }}
    </{{headlineTag}}>
</a>