{{#with this.teaser}}
    <div class="grid grid-page">
        <article class="col-full relative after:content-[''] after:block after:h-5 after:bg-stagePrimary">

            {{#if this.isWide}}
                {{> components/base/image/responsive_image this.teaserImage _type="stage" _variant="wide" _addClass="w-full"}}
            {{else}}
                {{> components/base/image/responsive_image this.teaserImage _type="stage" _variant="default"}}
            {{/if}}
            <div class="absolute left-2/4 right-auto bottom-10 flex max-w-main-col w-full px-8 mx-auto -translate-x-2/4 bottom-0{{inline-switch this.stageTextPosition '["right50"]' '[" justify-end"," justify-start"]'}}">
            <div class="p-3 rounded-2xl bg-stageTextBox opacity-90{{inline-switch this.stageTextPosition '["left100"]' '[" w-full"," w-full sm:w-2/4"]'}} ">
                {{> components/teaser/components/teaser_heading _css="text-stageText" _title=this.title _label=this.label _topline=this.topline _headlineTag="h2" _size="100" _teaserType="stage" _fontVariant="sans-serif"}}
                {{#if this.showShorttext}}
                <p class="hidden sm:block text-stageText">{{this.shorttext}}</p>
                {{/if}}
                {{#with this.eventtags}}
                    {{#with this.series}}
                        <span class="block font-heading text-stageText text-2xl font-normal leading-6 tracking-wide mt-2.5 -mb-1">{{this.title}}</span>
                    {{/with}}
                    {{#with this.project}}
                        <span class="block font-heading text-stageText text-2xl font-normal leading-6 tracking-wide mt-2.5 -mb-1">{{this.title}}</span>
                    {{/with}}
                    {{#with this.externalProject}}
                        <span class="block font-heading text-stageText text-2xl font-normal leading-6 tracking-wide mt-2.5 -mb-1">{{this.title}}</span>
                    {{/with}}
                {{/with}}
                {{#with this.location}}
                    <p class="flex items-center	mt-4 -mb2 text-stageText font-base">
                            {{> components/base/image/icon _icon="ortsmarke" _iconmap="icons" _addClass="w-5 h-5 fill-current -ml-1 -mt-0.5" }}
                            {{#each this}}
                                {{#unless @first}}<span class="ml-2 mr-2 text-stageText">|</span>{{/unless}}
                            {{this}}
                    {{/each}}
                    </p>
                {{/with}}
            </div>
            </div>
        </article>
    </div>
{{/with}}