<li class="px-2 text-white list-none bg-blue-science">   
   {{!-- {{#if this.subNavigation }} HATNE SUBNAV{{/if}} --}}

    {{!-- {{#if this.subNavigation.showAsFlyout ~}}
        <input class="c-subNav__noscript-toggle -open" name="service-radios" type="radio" id="c-sectionNav__input--{{this.text}}" aria-hidden="true">
        <label class="c-sectionNav__label -open" for="c-sectionNav__input--{{this.text}}" aria-hidden="true">
            <span class="c-sectionNav__link {{#if this.selected}}-current{{/if}} -has-flyout" >
                {{this.text}}
                {{~include "base/image/icon" _icon="arrow-up" _addClass="arrow -up icon--ignoreTouch" _iconmap="icons"~}}
                {{~include "base/image/icon" _icon="arrow-down" _addClass="arrow -down icon--ignoreTouch" _iconmap="icons"~}}
          </span>
        </label>
        <input class="c-subNav__noscript-toggle -close" name="service-radios" type="radio" id="c-sectionNav__input--close" aria-hidden="true">
        <label class="c-sectionNav__label -close" for="c-sectionNav__input--close" aria-hidden="true">
            <span class="c-sectionNav__link {{#if this.selected}}-current{{/if}} -has-flyout" >
                {{this.text}}
                {{~include "base/image/icon" _icon="arrow-up" _addClass="arrow -up icon--ignoreTouch" _iconmap="icons"~}}
                {{~include "base/image/icon" _icon="arrow-down" _addClass="arrow -down icon--ignoreTouch" _iconmap="icons"~}}
            </span>
        </label>

    {{/if}} --}}

    {{#if this.isCluster ~}}

        <button id="flyout-{{nextRandom}}-1" onclick="void(0)" class="c-sectionNav__button{{#if this.selected}} -current{{/if}} -has-flyout js-flyout__button js-loadScript" data-hr-flyout-menu='{}' aria-expanded="false" aria-owns="flyout-{{getRandom}}-2" aria-controls="flyout-{{getRandom}}-2" data-hr-click-tracking='{"settings": [{"type": "uxAction", "secondLevelId": "1", "clickLabel": "Rubriknavigation::{{this.text}}-Toggle-Link geklickt"}]}'>

    {{~else ~}}

        {{#if this.subNavigation}}

            <a id="flyout-{{nextRandom}}-1" onclick="void(0)" class="c-sectionNav__link{{#if this.selected}} -current{{/if}} link {{#if this.subNavigation.showAsFlyout ~}}-has-flyout js-flyout__link js-loadScript{{/if}}"{{#if this.labelText}} aria-label="{{this.labelText}}"{{/if}} data-hr-flyout-menu='{}' href="#" aria-haspopup="true" aria-expanded="false" aria-owns="flyout-{{getRandom}}-2" aria-controls="flyout-{{getRandom}}-2" data-hr-click-tracking='{"settings": [{"type": "uxAction", "secondLevelId": "1", "clickLabel": "Rubriknavigation::{{this.text}}-Link geklickt"}]}'>
        {{~else ~}} 
            <a class="c-sectionNav__link{{#if this.selected}} -current{{/if}} link js-loadScript"{{#if this.labelText}} aria-label="{{this.labelText}}"{{/if}} href="#" data-hr-click-tracking='{"settings": [{"type": "uxAction", "secondLevelId": "1", "clickLabel": "Rubriknavigation::{{this.text}}-Link geklickt"}]}'>
        {{~/if}}

    {{~/if }}

    {{#if this.subNavigation}}

        {{~this.text~}}
        {{#if this.subNavigation.showAsFlyout ~}}
            {{~include "base/image/icon" _icon="arrow-down" _addClass="arrow -down icon--ignoreTouch" _iconmap="icons"~}}
            {{~include "base/image/icon" _icon="arrow-up" _addClass="arrow -up icon--ignoreTouch" _iconmap="icons"~}}
        {{/if}}

    {{else}}
        {{~this.text~}}
    {{~/if}}

    {{#if this.isCluster}}
        </button>
    {{else}}
        </a>

        {{#if this.subNavigation}}
            <button onclick="void(0)" id="flyout-{{getRandom}}-3" class="c-subNav__button js-flyout__submenuOpener js-loadScript" data-hr-flyout-menu='{}' aria-haspopup="true" aria-expanded="false" aria-owns="flyout-{{getRandom}}-2" aria-controls="flyout-{{getRandom}}-2" aria-labelledby="flyout-{{getRandom}}-1" data-hr-click-tracking='{"settings": [{"type": "uxAction", "secondLevelId": "1", "clickLabel": "Rubriknavigation::{{this.text}}-Toggle-Link geklickt"}]}'>
                <span class="hideCompletely">{{~this.text~}}</span>
                {{~include "base/image/icon" _icon="arrow-down" _addClass="arrow -down icon--ignoreTouch" _iconmap="icons"~}}
                {{~include "base/image/icon" _icon="arrow-up" _addClass="arrow -up icon--ignoreTouch" _iconmap="icons"~}}
            </button>
        {{/if}}

    {{/if}}

   {{!--  {{include "modules/header/subNavigation/subNavigation" _navigationType="RubrikNavigation" _parent=this.text}} --}}

</li>