<a class="relative flex items-center w-auto h-full text-white fill-current sb-service-logo link-focus-white print:hidden" 
    href={{resourceUrl "index.html"}} 
    title="{{loca "header_homepage_link_title"}}">

        <div x-cloak 
            {{#if _useSticky}}
                class="absolute {{#if _isFooter}}h-10 lg:h-12 {{else}}brand-logo-size md:brand-logo-size-md lg:brand-logo-size-lg flex transition-opacity duration-500 ease-in-out h-10 lg:h-[3.875rem] w-12 lg:w-[3.875rem]{{/if}}" 
                :class="`${percent}` < 50 ? 'opacity-0' : 'opacity-100'"
            {{else}}
                class="relative flex h-10 {{#unless _isFooter}}brand-logo-size {{/unless}} md:hidden"
            {{/if}}     
        >   
            <img src="{{resourceUrl "assets/base/icons/logo/brandlogo--mobile.min.svg" _brand=(defaultIfEmpty this.brand "hessenschau")}}" 
                class="w-auto h-full logo-compact" alt="{{loca "meta_application_name"}}">
        </div>      
        
        <div 
            {{#if _useSticky}}
                class="w-auto {{#if _isFooter}}h-10 lg:h-12 {{else}}brand-logo-size md:brand-logo-size-md lg:brand-logo-size-lg transition-opacity duration-500 ease-in-out h-12 lg:h-[3.875rem]{{/if}}"
                :class="`${percent}` < 50 ? 'delay-1000 opacity-100' : 'delay-200 opacity-0 hidden'"
            {{else}}    
                class="md:flex hidden justify-start w-auto {{#if _isFooter}}h-10 lg:h-12 {{else}}brand-logo-size md:brand-logo-size-md lg:brand-logo-size-lg h-12 lg:h-[3.875rem]{{/if}} "
            {{/if}}
        >
            <img src="{{resourceUrl "assets/base/icons/logo/brandlogo--desk.min.svg" _brand=(defaultIfEmpty this.brand "hessenschau")}}" 
                class="w-auto h-full logo-desk" alt="{{loca "meta_application_name"}}">     
        </div>
          
</a>