<div class="flex col-span-12">   
  <div class="flex flex-col grow">
  {{!-- First Row --}}
    <div class="flex flex-row px-5 md:pl-5 {{#if ../_ordered}} pl-8 {{/if}} ">
      <div class="flex flex-col grow">  
        <div class="flex max-h-6">
          {{!-- Label / Airdate --}}
          {{#with label}} 
            <div class="">
              <span class='sb-label mr-2 rounded px-1.5 pt-px inline-block tracking-wide text-white text-base leading-5.5 font-heading bg-labelMedia'>
                {{ loca this.loca }}
              </span>
            </div> 
          {{/with}}
          
          {{~#with airdateDate}}
            <div class="flex grow pt-1.5 text-xs font-headingSerif text-blue-science">
              <time datetime="{{this.htmlDateTime}}">{{this.date}}</time>
            </div>
          {{/with}}

        {{!-- Download --}}
          {{> components/teaser/podcast/podcast_downloadbutton 
            _addClass="ml-2 pr-2 md:pr-5 "
            _iconClass="h-6 w-6 text-blue-science fill-current"
            _url=this.podcastDownloadUrl }}
        </div>

        {{!-- Überschrift: --}}
        <div class="flex pb-5 pr-2 md:pr-5">          
          {{> components/teaser/podcast/podcast_title _title=this.title _teaserSize=this.teaserSize _addClass="" }}  
        </div>

      </div>

      {{!-- Podcast Image      --}}
      <div class="flex flex-col ">
        <div class="w-24 md:w-42">
          {{> components/base/image/responsive_image this.teaseritem 
            _type=this.teaserType
            _variant="default"
            _addClass=" overflow-hidden ar--100"
            _noDelay=this.dontLazyload 
            _addClassImg="w-full h-24 md:h-42 block"
          }}
        </div>
      </div>

    </div>

    {{!-- Player UI --}}
    <div class="flex px-5 md:pl-5 md:pr-52 md:-mt-14" 
      x-data="playaudio()"
      x-init="listenToGlobalStop()"
      ax-load
      x-ignore
      ax-load-src="/vendor/js/podcast_player.alpine.js">
      {{> components/teaser/podcast/podcast_player_ui _isPlaylistPlayer=false
        _podcastDuration=podcastDuration _id=(nextRandom) }}    
    </div>
  
    {{!-- Abo-Dropdown    --}}
    <div class="flex flex-row p-5 md:pr-0">
      {{#with this.podcastChannel}}        
        <div class="flex">
          {{!-- Container  --}}
          <div x-cloak x-data="{
              open: false,
              toggle() {
                  if (this.open) {
                      return this.close()
                  }
                  this.$refs.button.focus()
                  this.open = true
              },
              close(focusAfter) {
                  if (! this.open) return
                  this.open = false
                  focusAfter && focusAfter.focus()
              }}"
                x-on:keydown.escape.prevent.stop="close($refs.button)"
                x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
                x-id="['dropdown-button']"
                class="relative"
          >

            {{!-- Button --}}
            <button
              x-ref="button"
              x-on:click="toggle()"
              :aria-expanded="open"
              :aria-controls="$id('dropdown-button')"
              type="button"
              class="flex items-center gap-1.5 px-2 py-2 text-white shadow font-heading bg-orange-layout">Abonnieren
              <div x-show="open">
                {{> components/base/image/icon _icon='arrow-up' _addClass="flex self-center w-3 h-3 fill-white" }}
              </div>
              <div x-show="!open">
                {{> components/base/image/icon _icon='arrow-down' _addClass="flex self-center mt-0.5 w-3 h-3 fill-white" }}
              </div>
            </button>

            {{!-- Flyout --}}
            <div
              x-ref="panel"
              x-show="open"
              x-transition.origin.top.left
              x-on:click.outside="close($refs.button)"
              :id="$id('dropdown-button')"
              style="display: none;"
              class="absolute left-0 flex flex-col w-full px-2 text-sm text-white shadow-md font-heading shadow-insetfromtop grow bg-orange-layout"
            >
              {{#with this.podcastHoster}}
                <ul>
                  {{#each this}}
                    <li class="border-b last:border-0"> 
                      <a class="flex items-center w-full gap-2 py-2 text-left hover:underline disabled:text-gray-500"
                        title="{{this.podcastHosterName}}" 
                        target="_blank"
                        rel="noopener noreferrer"
                        href="{{this.podcastHosterUrl}}">{{this.podcastHosterName}}</a>
                    </li>
                  {{/each}}
                </ul>
              {{/with}}
               
            </div>
          </div>
        </div>
      {{/with}}

      {{!-- Sendungs-Link --}}
      <div class="flex justify-end w-full pl-4 md:pr-52">
        <div class="flex flex-wrap self-end text-xs font-heading text-blue-science">
          <span class="flex pr-2 font-bold whitespace-nowrap">Zur Sendung: </span>
          <a class="underline" href="#">{{#with this.teaserInfo}} {{~#if this.showTeaserInfoChannel}} <span class="text__byline">{{../this.podcastChannel.title}}</span>{{/if}} {{/with}}</a>
        </div>
      </div>
    </div>
  </div>  
</div>

{{#unless _isSinglePage}}
  {{#unless this.hideShortText}}
      {{~#with this.shorttext}}
          <div class="col-span-12 px-5 pb-5 text-sm md:text-base font-copy c-podcastEpisodePlayer__shortText">
              <span class="c-teaser__shorttext"> {{this}} </span>
          </div>
      {{/with~}}
  {{/unless}}
{{/unless}}