<div id="timedisplay{{_id}}" class="{{_containerCss}}">
    <span class="{{_currentTimeClasses}} js-currentTime" id="currentTime" >0:00</span>
    <span class="{{_durationClasses}} px-0.5"> / </span>
    <span class="{{_durationClasses}} js-audioDuration" id="audioDurationFancy">{{_duration}}</span>
</div>