<div id="timedisplay{{_id}}" class="{{_containerCss}}">
    <span class="{{_currentTimeClasses}}" id="currentTime"  >0:00</span>
    <span class="{{_durationClasses}} px-0.5"> / </span>
    <span class="{{_durationClasses}}" id="audioDurationFancy"> </span>
</div>