
    <div class="flex flex-wrap w-full js-load">
        <div class="flex {{#if _isPlaylistPlayer}}items-start{{else}}items-center{{/if}} w-full flex-nowrap">

            {{!-- Start/StopButton       --}}
            <div id="playbutton{{_id}}" class="flex">
                {{> components/teaser/podcast/podcast_playbutton 
                _css="mr-4" 
                _id = _id
                _alpineClick=(loca "play_button_alpine_click" _id) }}
            </div>

            <div class="flex flex-wrap items-start w-full -mt-0.5">
                {{#if _isPlaylistPlayer}}                   
                    <div class="flex w-full">
                        {{!-- Airdate     --}}
                        {{~#with this.airdateDate}}
                            <div class="flex text-xs grow font-headingSerif text-podcast-text">
                                <time datetime="{{this.htmlDateTime}}">{{this.date}}</time>
                            </div>
                        {{/with}}

                        {{!-- Download --}}
                        
                            {{> components/teaser/podcast/podcast_downloadbutton 
                                _addClass="ml-2"
                                _iconClass="h-6 w-6 text-podcast-text fill-current"
                                _url=this.podcastDownloadUrl 
                            }}
                        
                    </div>

                    <div class="flex -mt-2 w-fit max-w-3/4 ">          
                        {{> components/teaser/podcast/podcast_item_title 
                            _title=this.title 
                            _teaserSize=this.teaserSize 
                            _addClass="" }}  
                    </div>   
                {{/if}}

                {{!-- Range Slider     --}}
                <div class="flex w-full transition-all overflow-hidden {{#if _first}}max-h-9{{else}}max-h-0{{/if}}">
                    <input 
                        {{#unless @first}}x-cloak{{/unless}}
                        x-ref="range" 
                        id="range{{_id}}" 
                        x-on:input="rangeInput({{_id}})" 
                        type="range" {{!-- x-bind:value="currentTimePercentage" --}} 
                        min="0" 
                        max="1000"
                        value="0"
                        class="h-1 my-4 bg-white rounded-lg appearance-none cursor-pointer ds-link grow seek_slider" >  
                </div>

                {{#if _isPlaylistPlayer}}
                    {{!-- Meta Time usw. --}}
                    <div x-init="setTime( '{{_podcastDuration}}', '{{_id}}' ); " class="flex w-full"> 
                        {{> components/teaser/podcast/podcast_timedisplay 
                        _id=_id
                        _duration=duration
                        _currentTimeClasses="font-bold text-podcast-highlight" 
                        _durationClasses="text-podcast-text" 
                        _containerCss="flex text-sm grow font-heading" }}
                    </div>
                {{/if}}
            </div>
        </div>
        
        {{#unless _isPlaylistPlayer}}
            {{!-- Meta Time usw. --}}
            <div x-init="setTime( '{{_podcastDuration}}', '{{_id}}' ); " >
            {{> components/teaser/podcast/podcast_timedisplay 
                _id=_id
                _duration=duration 
                _currentTimeClasses="font-bold text-podcast-highlight" 
                _durationClasses="text-podcast-text" 
                _containerCss="pl-16 -mt-3 flex text-sm grow font-heading"}}              
            </div>
        {{/unless}}
        
        {{!-- AudioElement --}}
        {{~#with this.audioUrl ~}}
            <audio   
                class="{{../_id}} hidden" 
                data-id="{{../_id}}"
                x-init="registerPlayer('{{../_podcastDuration}}','{{../_id}}')"
                @stopotherplayers.window="stopAllOtherPlayers({{../_id}})">
                <source src={{this}} type='audio/mp3'/>
                
            </audio>
        {{/with}}
    </div>
