
<div x-data="{
        open: {{#if storybookOpen}}true{{else}}false{{/if}},
        toggle() {
            if (this.open) {
                return this.close()
            }
            this.$refs.button.focus()
            this.open = true
        },
        close(focusAfter) {
            if (! this.open) return
            this.open = false
            focusAfter && focusAfter.focus()
        }}"
        x-on:keydown.escape.prevent.stop="close($refs.button)"
        x-on:focusin.window="! $refs.panel.contains($event.target) && close()"
        x-id="['dropdown-button']"
        class="relative h-10 z-9999"
    >

    {{!-- Button --}}
    {{#with this}}
        {{#> components/button/button _size="md" _disableButtonPress=true}}
            {{>components/button/components/button_label _label="Abonnieren" _css="flex-1 truncate mr-2" _type="button"}}  
            <span x-cloak x-show="open" class="w-3 h-3">
                {{> components/base/image/icon _icon='arrow-up' _addClass="flex self-center w-3 h-3 fill-white" }}
            </span>
            <span x-show="!open" class="w-3 h-3">
                {{> components/base/image/icon _icon='arrow-down' _addClass="flex self-center w-3 h-3 fill-white" }}
            </span>
        {{/components/button/button}}
        {{#*inline "html_properties"}}
        x-ref="button" 
        x-on:click="toggle()" 
        :aria-expanded="open" 
        :aria-controls="$id('dropdown-button')" 
        :class="open ? 'drop-shadow' : ''" 
        data-hr-click-tracking='{"settings": [{"type": "uxAction", "clickLabel": "podcastAbonnieren:ButtonClick"}]}'
        {{/inline}}
    {{/with}}

    {{!-- Flyout --}}
    <div
        x-ref="panel"
        x-show="open"
        x-transition.origin.top.left
        x-on:click.outside="close($refs.button)"
        :id="$id('dropdown-button')"
        style="display: none;"
        class="left-0 w-full text-sm text-white font-heading grow bg-podcast-text"
    >
        {{~#with this.podcastHoster~}}
        <ul>
            {{~#each this~}}
                <li class="{{#unless @last}}border-b{{/unless}}"> 
                    <a class="flex px-2 py-2 text-left ds-link whitespace-nowrap hover:underline disabled:text-gray-500 js-load"
                        title="{{this.podcastHosterName}}" 
                        target="_blank"
                        rel="noopener noreferrer"
                        href="{{this.podcastHosterUrl}}"
                        data-hr-click-tracking='{"settings": [{"type": "uxAction", "clickLabel": "podcastAbonnieren:{{this.podcastHosterName}}"}]}'>{{this.podcastHosterName}}</a>
                </li>
            {{~/each~}}
        </ul>
        {{~/with~}}
        
    </div>
</div>