<div class="absolute left-2/4 right-auto bottom-15 lg:bottom-10 flex w-full px-5 sm:px-11.5 -translate-x-2/4 {{inline-switch this.stageTextPosition '["right50"]' '[" justify-end"," justify-start"]'}}">
    <div class="relative p-4 rounded-2xl bg-stageTextBox opacity-85{{inline-switch this.stageTextPosition '["left100"]' '[" w-full"," max-w-xs sm:w-fit md:max-w-2/4"]'}} ">
        {{#decorator 'components/base/link' _css="ds-teaser-focus before:rounded-2xl"}}
            {{#> components/teaser/components/teaser_header}}
                {{#with this.label}}
                    {{#> components/label/label_group}}
                        {{> components/label/label_test _css="text-stageText" _type=this.type _text=(loca this.loca)}}
                        {{> components/label/label_byline _css="ml-2"}}
                    {{/components/label/label_group}}
                {{/with~}}
                {{#> components/teaser/components/teaser_headline _css="text-stageText" _headlineTag="h2"}}
                    {{#if this.topline}}
                        {{> components/teaser/components/teaser_topline _css="!text-stageText" _text=this.topline}}
                    {{/if}}
                    {{> components/teaser/components/teaser_title_test _css="text-stageText" _text=this.title _size="100" _teaserType="stage"}}
                    {{#with this.eventtags}}
                        {{> components/event/event_tags this _css="text-inherit"}} 
                    {{/with}}
                {{/components/teaser/components/teaser_headline}}
                {{#if this.showProfileInfoAsByline}}
                    <p class="block mt-3 text-stageText font-headingSerif">{{this.profiles}}</p>
                {{/if}}
            {{/components/teaser/components/teaser_header}}
            {{#if this.showShorttext}}
                <p class="pt-4 hidden sm:block text-stageText">{{this.shorttext}}</p>
                {{#if this.link.hasIcon}}
                <span class="flex items-end space-around hover:underline decoration-1 text-stageLink">[{{this.link.readMoreText.readMore}}
                    {{> components/base/image/icon _icon=this.link.iconName _iconmap="icons" _addClass="w-5 h-5 self-baseline fill-current ml-1" }}]
                </span>
                {{/if}}
            {{/if}}
            {{#with this.location}}
                {{> components/base/loadSSI this.stageLocationSsi _templatePath='components/event/stage_location.ssi' }} 
            {{/with}}
            {{#if this.link.hasIcon}}
                <span class="block mt-4 hover:underline text-stageLink {{if this.showShorttext 'hidden'}}">[{{this.link.readMoreText.readMore}}
                    {{> components/base/image/icon _icon=this.link.iconName _iconmap="icons" _addClass="inline w-5 h-5 self-baseline fill-current ml-1" }}]
                </span>
            {{/if}}
        {{/decorator}}
    </div>
</div>