<div class="grid clear-both{{#unless _isTeaser}} mt-6 mb-2 [&:has(+div+h2)]:mb-0 sm:my-8{{/unless}}">
        {{~> components/base/a11y/hiddenText _locaTag="story_externalservice_intro_sr" ~}}   
        <div class="c-externalService c-externalService__{{this.externalServiceConfig.externalServiceId}}{{#unless
                this.fixedHeight }} -noFixedHeight{{/unless}} js-load"
             data-hr-external-service-ds='{"id":"{{this.externalServiceConfig.externalServiceId}}","embedCode":"{{this.serviceUrl}}","embedType":"{{this.externalServiceConfig.externalServiceEmbedType}}","lazyLoad":{{defaultIfEmpty _lazyLoad false}},"dataPolicyCheck": true, "whiteList":{{this.externalServiceConfig.isWhitelisted}},"iFrameConfig": { {{~#if this.fixedHeight~}}
                "fixedHeight":"{{this.fixedHeight}}"{{~else~}}{{~#if this.aspectRatio}}"aspectRatio":"{{this.aspectRatio}}"{{~else~}}"aspectRatio":"16x9"{{/if}}{{~/if}},"isNoResponsiveIframe":"{{{this.setResponsiveIframe}}}","isWebcomponent":"{{{this.setWebcomponent}}}"{{~#if this.setTimedReloadIframe}},"refreshContent":"{{{this.setTimedReloadIframe}}}","refreshIntervall":"{{this.setTimeForReload}}"{{~/if}} }}'>
            {{~> components/external-service/components/external_service_data_policy ~}}
        </div>
        {{~> components/external-service/components/external_service_caption ~}}
        {{~> components/base/a11y/hiddenText _locaTag="story_externalservice_outro_sr" ~}}
        <div class="hidden js-content-settings-button">
            <div class="float-right">
            {{~> components/external-service/components/external_service_settings_button ~}}
            </div>
        </div>
</div>
{{~#if (isStorybook)~}}
<div id="{{this.externalServiceConfig.externalServiceId}}" data-whitelist="{{this.externalServiceConfig.isWhitelisted}}"></div>
{{/if}}