<div class="relative flex flex-col w-full mb-5 "
   ax-load
   x-data="inputHandler('select{{nextRandom}}', '{{_formId}}','select')"
   x-ignore
>
    <select
        class="relative w-full h-12 pt-4 pl-4 text-gray-800 bg-white border-link appearance-none bg- pr-9 peer border-y focus:border-y-2 border-t-transparent focus:outline-none"
        :class="{'border-link': hideError(),'border-error': hideDescription() }"
        x-model="select{{getRandom}}"
        id="select{{getRandom}}"
        title="{{#if _locaKey}}{{loca _locaKey}}{{else}}{{#if _Label}}{{_label}}{{#if _required}}*{{/if}}{{/if}}{{/if}}"
        name="{{#if _name}}{{_name}}{{/if}}"
        {{#if _required}}required{{/if}}
        {{#if _required}}
            @focus="isFocused = true;"
            @blur="wasFocused = true; isFocused=false"
            x-on:change ="select{{getRandom}}.value != '' ? valid = true : valid = false;"
        {{/if}}
        >
        <option  class="text-white bg-gray-400" value=""{{#if _required}} disabled{{/if}} selected>
            {{#if _locaKey}}
                {{loca _locaKey}}{{#if _required}}*{{/if}}
            {{else}}
                {{#if _label}}
                    {{_label}}{{#if _required}}*{{/if}}
                {{/if}}
            {{/if}}
        </option>
        {{#if _options}}
            {{~#each _options~}}
                <option class="text-black" value="{{this.id}}" {{#if this.isSelected}}selected{{/if}}>{{this.name}}</option>
            {{~/each~}}
        {{else}}
            {{#each _items}}
                <option class="text-black" value="{{this.value}}" {{#if this.selected}}selected{{/if}}>{{this.label}}</option>
            {{/each}}
        {{/if}}
    </select>
    <label for="select{{getRandom}}"
        class="absolute pointer-events-none left-[16px] top-0 translate-y-3 translate-x-0 scale-100 text-gray-scorpion
              peer-focus:text-blue-500 peer-focus:scale-75 peer-focus:translate-y-0 peer-focus:top-px
              origin-top-left transform transition-transform 
    ">      
        {{_label}}{{#if _required}}*{{/if}}
    </label>
    <div class="flex items-end justify-between h-5 font-heading">     
        {{#if _description}}  
            <div class="pl-4 text-xs text-gray-scorpion " :class="{'hidden': hideDescription()}">{{_description}}</div>
        {{/if}}
        {{#if _required}}
            <div class="hidden pl-4 text-xs text-error" :class="{'hidden': hideError()}" >{{_errorMessage}}</div>
        {{/if}}
    </div>
    <div class="absolute right-0 p-4 py-3 transform border-l peer-focus:border-r peer-focus:border-l-0 pointer-events-none top-1.5 peer-focus:rotate-180">
        {{> components/base/image/icon _icon="arrow-down" _addClass="w-3 h-3 fill-blue-500 dark:fill-text-dark "}}
    </div>  
</div>