<div class="relative flex flex-col w-full mb-5" x-data="{ textarea{{nextRandom}}: '{{#if _formField.isValid}}{{{_formField.forHtmlContent}}}{{else}}{{#if _value}}{{_value}}{{else}}{{_defaultValue}}{{/if}}{{/if}}' , valid: false, wasFocused: false, isFocused: false}">
   <textarea
      x-model="textarea{{getRandom}}"
      id="textarea{{getRandom}}"
      @focus="isFocused = true"
      @blur="wasFocused = true; isFocused=false"
      x-on:keyup ="textarea{{getRandom}}.length > 0 ? valid = true : valid = false"
      value=""
      name="{{#if _name}}{{_name}}{{/if}}"
      {{#if _locaKey}}
         title="{{loca _locaKey}}{{#if _required}}*{{/if}}"
         placeholder="{{loca _locaKey}}{{#if _required}}*{{/if}}"
      {{else}}
         {{#if _label}}
            title="{{_label}}{{#if _required}} (Pflichtfeld){{/if}}"
            placeholder="{{_label}}{{#if _required}}*{{/if}}"
         {{/if}}
      {{/if}}
      {{#if _rows}}
         rows="{{_rows}}"
      {{/if}}
      {{#if _cols}}
         cols="{{_cols}}"
      {{/if}}
      {{#if _maxLength}}
         maxlength="{{_maxLength}}"
      {{/if~}}
      {{#if _required}}required{{/if}}
      class="relative w-full px-4 pt-4 pb-px text-gray-800 placeholder-transparent bg-white border-blue-500 min-h-12 peer border-y focus:border-b-2 focus:pb-0 border-t-transparent focus:outline-none" 
      :class="{'border-blue-500': valid || !wasFocused || isFocused,'border-red-500': !valid && wasFocused  && !isFocused}"
   >{{#if _formField.isValid}}
        {{{_formField.forHtmlContent}}}
    {{else}}
        {{#if _value}}
            {{_value}}
        {{else}}
            {{_defaultValue}}
        {{/if}}{{/if}}</textarea>
   <label for="textarea{{getRandom}}" class="absolute left-[16px] top-px translate-y-0 translate-x-0 scale-75 text-gray-500
     
     peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-x-0 peer-placeholder-shown:translate-y-3 
     
     peer-focus:translate-x-0 peer-focus:-translate-y-0 peer-focus:scale-75 peer-focus:text-blue-500 origin-top-left transform transition-transform">
      {{#if _locaKey}}
         {{loca _locaKey}}
      {{else}}
         {{#if _label}}
            {{{_label}}}{{#if _required}}*{{/if}}
         {{/if}}
      {{/if}}
   </label>
   {{#if _required}}
      <div class="absolute top-0 z-10 flex items-center justify-center h-12 right-4">
            <div class="hidden w-5 h-5 font-bold" :class="{'hidden': valid || !wasFocused || isFocused }">
               {{> components/base/image/icon _icon="info2" _addClass="w-5 h-5 fill-red-700"}}
            </div>
      </div>
  {{/if}}
   <div class="flex items-end justify-between h-5 font-heading">     
      {{#if _description}}  
         <div class="pl-4 text-xs text-gray-500 min-h- " {{#if _required}}:class="{'hidden': !valid && wasFocused && !isFocused}"{{/if}}>{{_description}}</div>
      {{/if}}
      {{#if _required}}
         <div class="hidden pl-4 text-xs font-bold text-red-700" :class="{'hidden': valid || !wasFocused || isFocused}" >{{_errorMessage}}</div>
      {{/if}}
      {{#if _maxLength}}
         <div class="px-4 ml-auto text-xs text-gray-500"><span x-text="textarea{{getRandom}}.length">0</span>/{{_maxLength}}</div>
      {{/if~}}
   </div>
   <div class="hidden">
      <div>DEBUGG</div>
      <div>wasFocused:<span x-text="wasFocused"></span></div>
      <div>valid:<span x-text="valid"></span></div>
      <div>input.length:<span x-text="textarea{{getRandom}}.length "></span></div>
   </div>
</div>