
{{#>components/forms/components/backgroundBox  }} 
    <h3 class="mb-6 text-2xl md:text-3xl font-headingSerif sm:mb-12 text-text dark:text-text-dark">
        {{this.title}}
    </h3>
    <div id="formWrapper">
        <form
            x-ref="form{{nextRandom}}"
            ax-load
            x-data="contactForm('form{{getRandom}}','{{this.jsonUrl}}','{{this.errorMessages}}','{{this.isMultipart}}','{{this.trackingInformations}}', {{this.hasSpamProtection}})"
            x-init="formInit()"
            x-ignore

            @submit.prevent
            id="form{{getRandom}}"     
            class="relative flex flex-col justify-center overflow-hidden group" 
            action="{{if this.hasSpamProtection '#' this.url}}" 
            method="post" 
            enctype="{{if this.isMultipart 'multipart/form-data' 'application/x-www-form-urlencoded'}}" 
            accept-charset="utf-8"
            
        >
            <div x-show="!wasPosted"             
                x-transition:enter="transition ease-out duration-300 delay-300"
                x-transition:enter-start="opacity-0 transform scale-90"
                x-transition:enter-end="opacity-100 transform scale-100"
                x-transition:leave="transition ease-in duration-75 delay-0"
                x-transition:leave-start="opacity-100 transform scale-100"
                x-transition:leave-end="opacity-0 transform scale-90"
            >
                {{> components/forms/components/fields _formId=(joinStrings 'form' (getRandom)) }} 
                {{#if this.hasSpamProtection }}
                    <div id="webform_form_spam_hint">
                            <div class="p-4 mb-3 text-orange-700 bg-orange-100 border-l-4 border-orange-500" role="alert">
                                <p class="font-bold">Hinweis</p>
                                <p>Bitte aktivieren Sie JavaScript, um dieses Formular absenden zu können.</p>
                            </div>
                    </div>
                {{else}}
                    <div id="webform_form_hint">
                        <div class="p-4 mb-3 text-orange-700 bg-orange-100 border-l-4 border-orange-500" role="alert">
                            <p class="font-bold">Hinweis</p>
                            <p>Javascript ist deaktiviert. Das Formular kann aber weiterhin normal benutzt werden.</p>
                        </div>
                    </div>
                {{/if}}

                {{> components/forms/components/controls }}                       
                
            </div>
            <div class="flex flex-col gap-6 md:gap-10" id="successMessage" x-show="wasPostedWithSuccess"  
                x-transition:enter="transition ease-out duration-300 delay-75"
                x-transition:enter-start="opacity-0 transform scale-90"
                x-transition:enter-end="opacity-100 transform scale-100"
                x-cloak
                >
                {{#if this.successText}}
                    {{> components/forms/components/message _success=true _locaKeyTitle="webform_send_title_success" _text=this.successText.richtext }}
                {{else}}
                    {{> components/forms/components/message _success=true _locaKeyTitle="webform_send_title_success" _locaKeyText="webform_send_text_success" }}
                {{/if}}
            </div>

            <div class="flex flex-col gap-6 md:gap-10" id="errorMessage"  x-show="wasPostedWithError" 
                x-transition:enter="transition ease-out duration-300 delay-75"
                x-transition:enter-start="opacity-0 transform scale-90"
                x-transition:enter-end="opacity-100 transform scale-100"
                x-cloak>
                {{> components/forms/components/message _success=false _locaKeyTitle="webform_send_title_error" _locaKeyText="webform_send_text_error"}}
            </div>

        </form>

        
    </div>   
{{/components/forms/components/backgroundBox }}
