{{~#if _newWebForm ~}}
    {{#>components/forms/components/backgroundBox  }}  

        
        <h3 class="mb-6 text-2xl font-headingSerif sm:mb-12 text-text dark:text-text-dark">
            {{this.title}}
        </h3>
        <div id="formWrapper">
            <form
                x-ref="form{{nextRandom}}"
                ax-load
                x-data="contactForm('form{{getRandom}}','{{this.jsonUrl}}','{{this.errorMessages}}','{{this.isMultipart}}','{{this.trackingInformations}}')"
                x-init="formInit()"
                x-ignore

                @submit.prevent="submitData"
                id="form{{getRandom}}"     
                class="relative flex flex-col justify-center overflow-hidden group" 
                action="{{this.url}}" 
                method="post" 
                enctype="{{if this.isMultipart 'multipart/form-data' 'application/x-www-form-urlencoded'}}" 
                accept-charset="utf-8"
                
                >
                {{> components/forms/components/fields _formId=(joinStrings 'form' (getRandom)) }} 

                {{> components/forms/components/controls }}

                <template id="successMessage">
                    {{> components/forms/components/message _success=true _messageText="Das Formular wurde erforlgreich versendet." }}
                </template>

                <template id="errorMessage">
                    {{> components/forms/components/message _success=false _messageText="Das Formular konnte nicht versendet werden." }}
                </template>
                
            </form>
        </div>   
    {{/components/forms/components/backgroundBox }}
{{~else~}}
    {{> content/webform/components/webform _addClass="print:hidden copytext__clearBox marginTrailer--m"}}
{{~/if~}}