<span class="sb-label rounded px-1.5 pt-px inline-block tracking-wide text-white text-base leading-6 font-heading {{inline-switch type '["media","event","breakingnews","comment","analysis","der-tag-in-hessen","glosse","fragen-und-antworten","infografik","interaktiv","program","download","pm","liveticker","ticker","livestream","live","livechat","buliticker","social-tv","blog"]' '["bg-labelMedia","bg-labelEvent","bg-labelBreakingnews","bg-labelComment","bg-labelComment","bg-labelComment","bg-labelComment","bg-labelComment","bg-labelInfografik","bg-labelInfografik","bg-labelProgram","bg-labelDownload","bg-labelPm","bg-labelLive","bg-labelLive","bg-labelLive","bg-labelLive","bg-labelLive","bg-labelLive","bg-labelLive","bg-labelLive"]'}}">
    {{text}}
</span>
{{~#with this.byline ~}}
    <span class="">
        {{#if this.bylineSsi}}
            {{{this.bylineSsi}}}
        {{else}}
            {{this.bylineText}}
        {{/if}}
    </span>
{{~/with~}}