<{{headlineTag}} class="{{inline-switch font "headingSerif,heading" "font-headingSerif,font-heading"}} {{inline-switch bold "true,false" "font-bold"}} {{class}}" >
    {{#if topline}}
        <span class="block text-xl font-heading mt-3">{{topline}}</span>
    {{/if}}
    <span class="block {{inline-switch size "lg,sm" "text-3xl,text-2xl, text-2xl"}} {{inline-switch font "headingSerif,heading" "font-headingSerif, font-heading font-bold"}} mt-2">{{headline}}</span>
</{{headlineTag}}>