{{#with this.concertInfoHead}}
    {{#unless this.isEmpty}}
        {{#with this.title}}
            <h4 class="text-lg bold text-center">{{this}}</h4>
        {{/with}}
        {{#with this.description}}
            <p class="text-lg text-center">{{this}}</p>
        {{/with}}
    {{/unless}}
{{/with}}
{{#with this.artists}}
    {{#unless this.isEmpty}}
        <div class="mt-4 text-lg text-center">
            {{#with this.description}}
            <p>{{this}}</p>
            {{/with}}
            <ul>
                {{#each this.artistsAndGroups}}
                    <li>{{#with this.artistGroup}} {{/with}}</li>
                    {{#with this.artist}}
                        {{> components/event/artist}}
                    {{/with}}
                    {{#with this.artistGroup}}
                        {{#with this.name}}<h3>{{this}}:</h3>{{/with}}
                                            {{#with this.artists}}
                    <ul>
                        {{#each this}}
                            <li>
                                {{> components/event/artist}}
                            </li>
                        {{/each}}
                    </ul>
                    {{/with}}
                    {{/with}}
                {{/each}}
            </ul>
        </div>
    {{/unless}}
{{/with}}
{{#with this.compositions}}
    {{#unless this.isEmpty}}
        <div class="text-xl text-center">
            {{#with this.description}}<p class="text-xl text-center">{{this}}</p>{{/with}} 
            <ul>
            {{#each this.compositions}}
                <li>
                    {{#if this.composerAndComposition}}
                        <span class="text-center">{{this.composer}}</span>
                        {{#with this.name}} | <span class="text-center">{{this}}</span>{{/with}}
                        {{else}}
                            {{#if this.composer}}
                                <span class="text-center">{{this.composer}}</span>
                            {{/if}}
                            {{#if this.name}}
                                <span class="text-center">{{this.name}}</span>
                            {{/if}}
                    {{/if}}
                </li>
            {{/each}}
            </ul>
        </div>
    {{/unless}}
{{/with}}