{{#with this.subNavigation}}

{{#unless this.showAsFlyout}}<div class="c-subNav__spacer -isFixed {{#unless ../this.selected}} -hideFlyout{{/unless}}"></div>{{/unless}}

    <div x-show="dropped" @click.away="dropped = false" class="relative flex w-full h-auto mt-2 bg-white lg:mx-2 lg:absolute lg:filter lg:drop-shadow-md lg:w-auto lg:top-40">

        {{#unless ../this.isCluster ~}}
            <div class="w-full c-subNav__header">
                <div class="block p-5 text-gray-600 bg-blue-100 c-subNav__item hover:bg-blue-600 hover:text-white">              
                    <a href="#" class="c-subNav__link -isHeaderLink link js-loadScript" data-hr-click-tracking='{"settings": [{"type": "uxAction", "secondLevelId": "1", "clickLabel": "{{_navigationType}}::{{_parent}}::{{../this.flyoutStartLinkText}}-Link geklickt"}]}'>
                        {{../this.flyoutStartLinkText}}
                    </a>      
                </div>          
            </div>
        {{/unless}}

        {{#if this.showAsFlyout}}
            {{#each this.columns}}
                {{> components/Header/NavigationFlyout/NavigationFlyoutColumn }}
            {{/each}}
        {{else}}
            {{#with this.items}}
                {{> components/Header/NavigationFlyout/NavigationFlyoutColumn }}
            {{/with}}
        {{/if}}

        
    </div>
{{/with}}