{{#with this.subNavigation}}

{{#unless this.showAsFlyout}}<div class="c-subNav__spacer -isFixed {{#unless ../this.selected}} -hideFlyout{{/unless}}"></div>{{/unless}}

    <div x-data="flyout" x-cloak id="{{getRandom}}" x-ref="{{getRandom}}" {{#if ../_isSectionNav}}
        x-init="$watch('dropped', value => {
                if(value == true) { 
                    let a = $refs.sectionnavigation.scrollHeight + $el.scrollHeight; 
                    $refs.sectionnavigation.style.maxHeight = a +'px' 
                    } else {let a = $refs.sectionnavigation.scrollHeight; 
                    $refs.sectionnavigation.style.maxHeight = a +'px'}
                })" {{else}} {{/if}}  
        x-show="dropped" 
        @resize.window.debounce="check"

        class="z-102 bg-white md:filter md:drop-shadow-md lg:absolute {{#if ../_isSectionNav}} relative w-full md:top-auto lg:top-38 md:left-auto lg:left-auto lg:pl-4 lg:-ml-2 lg:mt-px lg:w-30 {{else}} lg:rounded-b absolute w-full top-10 left-0 md:w-80 lg:w-92 md:top-12 md:px-4 md:mt-0 md:left-0 lg:top-15 lg:left-0 lg:pl-6 divide-y divide-gray-200 {{/if}}" 

        id="flyout-{{getRandom}}-2" 
        aria-expanded="false" aria-hidden="true" aria-labelledby="flyout-{{getRandom}}-1" >

        {{#unless ../this.isCluster ~}}
            <div class="{{#if ../_isSectionNav}} hidden {{/if}}w-full">
                <div class="flex pt-4 pb-2 pl-4 text-base font-bold bg-white md:pl-0 md:pt-4 lg:pt-1 lg:pb-0 justify-left text-blue-congress ">              
                    <a href="#" class="-isHeaderLink lg:leading-10 js-loadScript" data-hr-click-tracking='{"settings": [{"type": "uxAction", "secondLevelId": "1", "clickLabel": "{{_navigationType}}::{{_parent}}::{{../this.flyoutStartLinkText}}-Link geklickt"}]}'>
                        {{../this.flyoutStartLinkText}}
                    </a>      
                </div>          
            </div>
        {{/unless}}
        
        <div class="{{#if this.showAsFlyout}}lg:flex lg:flex-row -columnCount--{{this.columnCount}} lg:divide-x lg:divide-gray-200{{/if}}">
            {{#if this.showAsFlyout}}
                {{#each this.columns}}
                    {{> components/Header/NavigationFlyout/NavigationFlyoutColumn count=../this.columnCount navtype=../../_navigationType }}
                {{/each}}
            {{else}}
                {{#with this.items}}
                    {{> components/Header/NavigationFlyout/NavigationFlyoutColumn }}
                {{/with}}
            {{/if}}
        </div>
    </div>
{{/with}}