{{#with this.subNavigation}}

{{#unless this.showAsFlyout}}<div class="c-subNav__spacer -isFixed {{#unless ../this.selected}} -hideFlyout{{/unless}}"></div>{{/unless}}

    <div x-show="dropped" @click.outside="dropped = false" x-collapse
        class="z-102 bg-white md:filter md:drop-shadow-md lg:absolute transition-all duration-1000 {{#if ../_isSectionNav}}relative w-full md:top-auto lg:top-42 md:left-auto lg:left-auto lg:pl-2.5 lg:pr-2.5 lg:w-auto{{else}}absolute w-full top-12 left-0 md:w-88 md:top-14 md:px-4 md:mt-0 md:left-0 lg:top-16 lg:left-0 divide-y divide-gray-400{{/if}} {{#unless this.showAsFlyout}} {{#unless ../this.selected}} -hideFlyout {{/unless}}{{/unless}}" id="flyout-{{getRandom}}-2" aria-expanded="false" aria-hidden="true" aria-labelledby="flyout-{{getRandom}}-1" >

        {{#unless ../this.isCluster ~}}
            <div class="{{#if ../_isSectionNav}}hidden {{/if}}w-full">
                <div class="flex py-2 pl-4 text-base bg-white md:pl-0 md:pt-4 lg:pt-2 justify-left text-blue-science lg:h-11">              
                    <a href="#" class="-isHeaderLink lg:leading-8 js-loadScript" data-hr-click-tracking='{"settings": [{"type": "uxAction", "secondLevelId": "1", "clickLabel": "{{_navigationType}}::{{_parent}}::{{../this.flyoutStartLinkText}}-Link geklickt"}]}'>
                        {{../this.flyoutStartLinkText}}
                    </a>      
                </div>          
            </div>
        {{/unless}}
        
        <div class="{{#if this.showAsFlyout}}-columnCount--{{this.columnCount}} md:flex md:divide-x md:divide-gray-400 md:py-4{{/if}}">
            {{#if this.showAsFlyout}}
                {{#each this.columns}}
                    {{> components/Header/NavigationFlyout/NavigationFlyoutColumn count=../this.columnCount navtype=../../_navigationType }}
                {{/each}}
            {{else}}
                {{#with this.items}}
                    {{> components/Header/NavigationFlyout/NavigationFlyoutColumn }}
                {{/with}}
            {{/if}}
        </div>
    </div>
{{/with}}