{{#with this.subNavigation}}

    <div x-cloak
        x-data="flyoutHandler" 
        x-ref="{{getRandom}}"
        id="flyout-{{getRandom}}-2" 
        @resize.window.debounce="setFlyoutAnimationStyle"

        {{#if this.showAsFlyout}} x-show="dropped" {{else}} {{#if ../this.selected}} x-show="$screen('lg') ? true : dropped" {{else}} x-show="dropped" {{/if}} {{/if}}
        
        {{#if ../_isSectionNav}} x-init="sectionNavFlyoutWatcher()" {{/if}}  
        
        class="bg-white md:filter md:drop-shadow-md lg:absolute {{#if ../_isSectionNav}} relative md:top-auto md:left-auto lg:pl-4 lg:-ml-2 lg:mt-10 w-full transition-all duration-500 ease-in-out{{#if ../this.selected}} isSelectedAndOpen  lg:ml-0 z-101 lg:border-b lg:border-blue-congress lg:filter-none lg:left-0 {{else}} z-102 lg:left-auto lg:w-30 {{/if}} {{else}} z-102 lg:rounded-b absolute w-full top-10 left-0 md:w-80 lg:w-92 md:top-12 md:px-4 md:mt-0 md:left-0 lg:top-15 lg:left-0 lg:pl-6 divide-y divide-gray-200 {{/if}}" 

        aria-labelledby="flyout-{{getRandom}}-1" 
        x-effect="$el.setAttribute('aria-expanded', dropped); $el.setAttribute('aria-hidden', !dropped)"
    >
        {{#unless ../this.isCluster ~}}
            <div class="{{#if ../_isSectionNav}} hidden {{/if}}w-full">
                <div class="flex pt-4 pb-2 pl-4 text-base font-bold bg-white md:pl-0 md:pt-4 lg:pt-1 lg:pb-0 justify-left text-blue-congress ">              
                    <a href="#" class="-isHeaderLink lg:leading-10 js-loadScript" data-hr-click-tracking='{"settings": [{"type": "uxAction", "secondLevelId": "1", "clickLabel": "{{_navigationType}}::{{_parent}}::{{../this.flyoutStartLinkText}}-Link geklickt"}]}'>
                        {{../this.flyoutStartLinkText}}
                    </a>      
                </div>          
            </div>
        {{/unless}}
        
        <div class="{{#if this.showAsFlyout}}lg:flex lg:flex-row -columnCount--{{this.columnCount}} lg:divide-x lg:divide-gray-200 {{else}} {{#if ../this.selected}} lg:px-2 {{/if}}{{/if}}">
            {{#if this.showAsFlyout}}
                {{#each this.columns}}
                    {{> components/Header/NavigationFlyout/NavigationFlyoutColumn count=../this.columnCount navtype=../../_navigationType ~}}
                {{/each}}
            {{else}}
                {{#with this.items}}
                    {{> components/Header/NavigationFlyout/NavigationFlyoutColumn selected=../../this.selected navtype=../../_navigationType ~}}
                {{/with}}
            {{/if}}
        </div>
</div>
{{/with}}