<div id="service--{{nextRandom}}" class="o-box -accented c-dataPolicy js-datapolicy rounded-tl-hr rounded-br-hr">
    <h3 class="text__headline c-dataPolicy__headline">{{loca "ext_service_datapolicy_headline" this.externalServiceConfig.externalServiceName}}</h3>
    <div class="u-js-embed">
        <p class="c-dataPolicy__description text__copytext">
            {{loca "ext_service_datapolicy_text" this.externalServiceConfig.externalServiceName}}
        </p>
        <div class="c-form__row">
            <div class="c-form__choiceCtn ">
                <input id="dataPolicyAcceptPermanently-{{getRandom}}"
                       class="c-form__checkbox js-dataPolicy-acceptPermanentely" name="dataPolicyAcceptPermanently"
                       title="Externe Inhalte von {{this.externalServiceConfig.externalServiceName}} zukünftig immer laden."
                       placeholder="Externe Inhalte von {{this.externalServiceConfig.externalServiceName}} zukünftig immer laden."
                       value="0" required="" type="checkbox">
                <span class="c-form__space"></span>
                <label for="dataPolicyAcceptPermanently-{{getRandom}}" class="c-form__label ">
                    {{loca "ext_service_datapolicy_accept_permanently_text"
                           this.externalServiceConfig.externalServiceName}}
                </label>
            </div>
        </div>
        <div class="( c-form__row -controls )">
            {{~> components/externalService/external_service_load_content_button ~}}
            {{#*inline "htmlProperties"}}{{/inline}}
            {{#with this}}
                 {{~> components/externalService/external_service_settings_button ~}}
                {{#*inline "htmlProperties"}}
                    data-piano-tracking='{"label":"DSGVO-Overlay"}'
                    data-a11y-dialog-show="datapolicy-settings-dialog"
                {{/inline}}
            {{/with}}
        </div>
    </div>
    <noscript>
        <p class="c-dataPolicy__description text__copytext">
            {{loca "ext_service_datapolicy_no_js_text" this.externalServiceConfig.externalServiceName}}
        </p>
        {{#> components/base/link _link=this.link}}
                Hier kommt der Inhalt des Links hin.
        {{/components/base/link}}
        {{#*inline "htmlProperties"}}
        {{/inline}}
    </noscript>
</div>