    <div class="grid">
            {{~> components/base/a11y/hiddenText _locaTag="story_externalservice_intro_sr" ~}}
            <div class="c-externalService c-externalService__{{this.externalServiceConfig.externalServiceId}} js-load"
                data-hr-external-service-ds='{"id":"{{this.externalServiceConfig.externalServiceId}}","embedCode":"{{this.serviceUrl}}", "embedType": "{{this.externalServiceConfig.externalServiceEmbedType}}", "dataPolicyCheck": true,"iFrameConfig": {"heightClass":"ar_iframe"{{#if
                    this.fixedHeight}},"fixedHeight":"{{this.fixedHeight}}", "fixedHeightClass":"-fixedHeight"{{else}},{{#if
                    this.aspectRatio}}"aspectRatio":"{{this.aspectRatio}}"{{else}}"aspectRatio":"16x9"{{/if}}{{/if}},"noResponsiveIframe":"{{{this.setResponsiveIframe}}}","refreshContent":"{{{this.setTimedReloadIframe}}}","refreshIntervall":"{{this.setTimeForReload}}"}}'>
                {{~> components/externalService/external_service_data_policy ~}}
            </div>
            {{#with this.externalServiceCaption}}
                {{~> components/externalService/external_service_caption ~}}
            {{/with}}
            {{~> components/base/a11y/hiddenText _locaTag="story_externalservice_outro_sr" ~}}
            <div >
                <div class="float-right">
                {{~> components/externalService/external_service_settings_button _css="js-content-settings-button hideExtButton" ~}}
                </div>
            </div>
    </div>
    <!-- TODO Hier wird der Global EInstellungsbutton bis zum Refactor eingebaut, damit der Einstellungsdialog aufgerufen werden kann -->
    {{~> components/dataPolicySettings/data_policy_settings ~}}
