{{~#with this.twitterLink ~}}
<li>
    <a class="{{if (isUserConsentNeeded this) 'js-user-consent-needed ' ''}}{{#with ../../../this.trackingData}} js-load{{/with}} flex order-2 ds-button font-heading active:scale-95 w-8 h-8"
        
        href="{{this}}"
        target="_blank"
        rel="noopener noreferrer"
        title="{{loca "share_x_linktitle" }}"
        {{#with ../../this.trackingData}}
            data-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "{{this.secondLevelId}}","clickLabel": "socialShareClick::X"}]}'
        {{/with}}
    >
        {{~> components/base/image/icon _addClass="w-full h-full fill-link hover:scale-105 " _icon="x-ds" _iconmap="icons" ~}}
    </a>
</li>
{{/with}}
{{~#with this.facebookLink}}
<li class="">
    <a class="{{if (isUserConsentNeeded this) 'js-user-consent-needed ' ''}}{{#with ../../this.content.trackingData}} js-load{{/with}} flex order-2 ds-button font-heading active:scale-95 w-8 h-8"
        
        href="{{this}}"
        target="_blank"
        rel="noopener noreferrer"
        title="{{loca "share_facebook_linktitle" }}"
        {{#with ../../this.trackingData}}
            data-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "{{this.secondLevelId}}","clickLabel": "socialShareClick::facebook"}]}'
        {{/with}}
    >
        {{~> components/base/image/icon _addClass="w-full h-full fill-link hover:scale-105" _icon="facebook-ds" _iconmap="icons" ~}}
    </a>
</li>
{{/with}}
{{~#with this.whatsappLink}}
<li class="">
    <a class="{{if (isUserConsentNeeded this) 'js-user-consent-needed ' ''}}{{#with ../../this.content.trackingData}} js-load{{/with}} flex order-2 ds-button font-heading active:scale-95 w-8 h-8"
        
        href="{{this}}"
        target="_blank"
        rel="noopener noreferrer"
        title="{{loca "share_whatsapp_linktitle" }}"
        {{#with ../../this.trackingData}}
            data-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "{{this.secondLevelId}}","clickLabel": "socialShareClick::whatsapp"}]}'
        {{/with}}
    >
        {{~> components/base/image/icon _addClass="w-full h-full fill-link hover:scale-105" _icon="whatsapp-ds" _iconmap="icons" ~}}
    </a>
</li>
{{/with}}
{{~#with this.mailtoLink}}
<li class="">
    <a class="{{if (isUserConsentNeeded this) 'js-user-consent-needed ' ''}}{{#with ../../this.trackingData}} js-load{{/with}} flex order-2 ds-button font-heading active:scale-95 w-8 h-8"
        
        href="{{this}}"
        title="{{loca "share_mail_linktitle" }}"
        {{#with ../../this.content.trackingData}}
            data-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "{{this.secondLevelId}}","clickLabel": "socialShareClick::mailto"}]}'
        {{/with}}
    >
        {{~> components/base/image/icon _addClass="w-full h-full fill-link hover:scale-105" _icon="kontakt-ds" _iconmap="icons" ~}}
    </a>
</li>
{{/with}}

<li x-data="copyHandler()" x-on:click="copyToClipboard" class="">
    <a class="{{#with ../this.trackingData}} js-load{{/with}} flex order-2 ds-button font-heading active:scale-95 w-8 h-8"
        title="{{loca "share_copy_linktitle" }}"
        {{#with ../this.trackingData}}
            data-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "{{this.secondLevelId}}","clickLabel": "socialShareClick::copybutton"}]}'
        {{/with}}
    >
        {{~> components/base/image/icon _addClass="w-full h-full fill-link hover:scale-105" _icon="copy-ds" _iconmap="icons" ~}}
    </a>
    <div class="absolute flex flex-row items-center justify-start rounded pr-4 shadow hidden w-auto h-8 -mt-8 ml-0.5 text-xs bg-white whitespace-nowrap js-copyMessage sm480:text-sm font-headingSerif dark:text-text-dark">
        {{~> components/base/image/icon _addClass="w-7 h-7 text-green-600 mr-4" _icon="status-done" _iconmap="icons" ~}}
        {{loca "share_copy_message" }}
    </div>
</li>
<script>
    function copyHandler(){
        return  {  
            copyToClipboard(event) {
                const clickedContainer = event.currentTarget.parentNode
                const messageDiv = clickedContainer.querySelector('.js-copyMessage')
                const el = document.createElement('textarea')
                el.value = window.location.href
                el.setAttribute('readonly', '')
                el.style.position = 'absolute'
                el.style.left = '-9999px'
                document.body.appendChild(el)
                el.select()
                document.execCommand('copy')
                document.body.removeChild(el)
                messageDiv.classList.remove('hidden')
                window.setTimeout(() => {
                    messageDiv.classList.add('hidden')
                }, 2000)
            }
        }
    }
</script>