{{~#with this.copyToClipboardLink}}
<li x-data="copyHandler()" x-on:click="copyToClipboard" class="relative">
    <button class="{{#with ../_trackingData}} js-load{{/with}} flex order-2 ds-button font-heading active:scale-95 w-8 h-8"
        title="{{loca "share_copy_linktitle" }}"
        data-url="{{this}}"
        {{#with ../_trackingData}}
            data-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "{{this.secondLevelId}}","clickLabel": "socialShareClick::{{if ../_socialSharingType ../_socialSharingType "default" }}::copybutton"}]}'
        {{/with}}
    >
        <span x-cloak class="flex items-center justify-center w-full h-full" x-show="!copySuccess">{{~> components/base/image/icon _addClass="w-full h-full fill-link hover:scale-105" _icon="copy-ds" _iconmap="icons" ~}}</span>
        <span x-cloak class="flex items-center justify-center w-full h-full" x-show="copySuccess">{{~> components/base/image/icon _addClass="w-full h-full text-green-600" _icon="status-done" _iconmap="icons" ~}}</span>
    </button>
    <div x-cloak x-show="copySuccess" class="absolute left-8 flex flex-row items-center justify-start px-4 shadow w-auto h-8 top-0 ml-0.5 text-xs bg-white whitespace-nowrap sm480:text-sm font-headingSerif dark:text-text-dark">    
        {{loca "share_copy_message" }}
    </div>
</li>
<script>
    function copyHandler(){
        return  {  
            copySuccess: false,
            copyToClipboard(event) {
                const clickedContainer = event.currentTarget.parentNode
                const url = clickedContainer.querySelector ("button:first-of-type").getAttribute('data-url');
                //TODO: maby do this with a magical helper in alpine
                navigator.clipboard
                .writeText(url)
                .then(() => {
                    console.log("successfully copied");
                    this.copySuccess = true
                    window.setTimeout(() => {
                        this.copySuccess = false
                    }, 2000)
                })
                .catch(() => {
                    console.log("something went wrong with copy");
                });
            }
        }
    }
</script>
{{/with}}
{{~#with this.twitterLink ~}}
<li>
    <a class="{{if (isUserConsentNeeded this) 'js-user-consent-needed ' ''}}{{#with ../_trackingData}} js-load{{/with}} flex order-2 ds-button font-heading active:scale-95 w-8 h-8"
        
        href="{{this}}"
        target="_blank"
        rel="noopener noreferrer"
        title="{{loca "share_x_linktitle" }}"
        {{#with ../_trackingData}}
            data-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "{{this.secondLevelId}}","clickLabel": "socialShareClick::{{if ../_socialSharingType ../_socialSharingType "default" }}::X"}]}'
        {{/with}}
    >
        {{~> components/base/image/icon _addClass="w-full h-full fill-link hover:scale-105 " _icon="x-ds" _iconmap="icons" ~}}
    </a>
</li>
{{/with}}
{{~#with this.facebookLink}}
<li class="">
    <a class="{{if (isUserConsentNeeded this) 'js-user-consent-needed ' ''}}{{#with ../_trackingData}} js-load{{/with}} flex order-2 ds-button font-heading active:scale-95 w-8 h-8"
        
        href="{{this}}"
        target="_blank"
        rel="noopener noreferrer"
        title="{{loca "share_facebook_linktitle" }}"
        {{#with ../_trackingData}}
            data-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "{{this.secondLevelId}}","clickLabel": "socialShareClick::{{if ../_socialSharingType ../_socialSharingType "default" }}::facebook"}]}'
        {{/with}}
    >
        {{~> components/base/image/icon _addClass="w-full h-full fill-link hover:scale-105" _icon="facebook-ds" _iconmap="icons" ~}}
    </a>
</li>
{{/with}}
{{~#with this.whatsappLink}}
<li class="">
    <a class="{{if (isUserConsentNeeded this) 'js-user-consent-needed ' ''}}{{#with ../_trackingData}} js-load{{/with}} flex order-2 ds-button font-heading active:scale-95 w-8 h-8"
        
        href="{{this}}"
        target="_blank"
        rel="noopener noreferrer"
        title="{{loca "share_whatsapp_linktitle" }}"
        {{#with ../_trackingData}}
            data-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "{{this.secondLevelId}}","clickLabel": "socialShareClick::{{if ../_socialSharingType ../_socialSharingType "default" }}::whatsapp"}]}'
        {{/with}}
    >
        {{~> components/base/image/icon _addClass="w-full h-full fill-link hover:scale-105" _icon="whatsapp-ds" _iconmap="icons" ~}}
    </a>
</li>
{{/with}}
{{~#with this.mailtoLink}}
<li class="">
    <a class="{{if (isUserConsentNeeded this) 'js-user-consent-needed ' ''}}{{#with ../_trackingData}} js-load{{/with}} flex order-2 ds-button font-heading active:scale-95 w-8 h-8"
        
        href="{{this}}"
        title="{{loca "share_mail_linktitle" }}"
        {{#with ../_trackingData}}
            data-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "{{this.secondLevelId}}","clickLabel": "socialShareClick::{{if ../_socialSharingType ../_socialSharingType "default" }}::mailto"}]}'
        {{/with}}
    >
        {{~> components/base/image/icon _addClass="w-full h-full fill-link hover:scale-105" _icon="kontakt-ds" _iconmap="icons" ~}}
    </a>
</li>
{{/with}}