{{#if this.hasMoreThanOneAuthor}}
    
    {{#with this.authorItems}}
        <p class="mb-1 text-xs sm480:text-sm font-headingSerif text-gray-scorpion dark:text-text-dark">
            {{#each this}}
                {{#if this.hasProfileLink}}
                    {{this.from}}
                    {{#>components/base/link _link=this.link _css="hover:underline hover:!decoration-1 text-link dark:text-link-dark"}}
                        <span>{{../this.authorName~}}</span>{{~/components/base/link~}}
                    {{~#with this.textAfterAuthor}} {{this}}{{/with~}}{{~this.delimiter}}
                {{else}}
                    {{this.from}}
                    {{#with this.textAfterAuthor}} {{this}}{{/with}}{{this.delimiter}}
                {{/if}}
            {{/each}}
        </p>
    {{/with}}

{{else}}

    {{#if this.hasOneAuthor~}}
        <div class="flex items-center {{#if this.authorImage.isImage}}h-10{{else}}mb-1{{/if}}">
            {{#if this.authorImage.isImage}}
                <div class="w-10 h-10 mr-4 basis-10 grow-0">
                    {{~> components/base/image/responsive_image this.authorImage
                            _type="profile" 
                            _variant="ticker" 
                            _addClass=""
                            _addClassImg="ar-1-1 rounded-full" 
                            _noDelay=true ~}}
                </div>
            {{/if}}
            <div class="self-start text-xs sm480:text-sm basis-0 grow font-headingSerif text-gray-scorpion dark:text-text-dark">
                {{#unless _hideFrom }}Von{{/unless}}
                {{#if this.authorUrl~}}
                    <a href="{{this.authorUrl}}" {{#with this.webviewAuthorUrl}}data-webviewurl="{{this}}"{{/with}} class="{{if (isUserConsentNeeded this.authorUrl) 'js-user-consent-needed ' ''}}text-link hover:underline dark:text-link-dark ">{{this.authorTitle}}</a>
                {{else}}
                    {{this.authorTitle}}
                {{/if}}
                {{#with this.textAfterAuthor}} {{this}}{{/with}}
            </div>
        </div>
    {{~/if}}

{{/if}}