{{#if this.editorialData.hasAuthors}}
    {{!-- Multiple Authors --}}
    {{#if this.editorialData.hasMultipleAuthors}}      
        {{#with this.editorialData.authorItems}}
            <p class="text-xs sm480:text-sm font-headingSerif text-gray-scorpion dark:text-text-dark">
                {{#each this}}
                    {{#if this.hasProfileLink}}
                        {{this.from}}
                        {{#>components/base/link _link=this.link _css="hover:underline hover:!decoration-1 text-link dark:text-link-dark"}}
                            <span>{{../this.authorName~}}</span>{{~/components/base/link~}}
                        {{~#with this.textAfterAuthor}} {{this}}{{/with~}}{{~this.delimiter}}
                    {{else}}
                        {{this.from}}
                        {{#with this.textAfterAuthor}} {{this}}{{/with}}{{this.delimiter}}
                    {{/if}}
                {{/each}}
            </p>
        {{/with}}
        {{~> @partial-block ~}}
    {{else}}
        <div class="flex items-center">
            {{#with this.editorialData.firstAuthorItem}}
                {{#if this.profileImage.isImage}}
                    <div class="w-10 h-10 mr-4 basis-10 grow-0">
                        {{~> components/base/image/responsive_image this.profileImage
                                _type="profile" 
                                _variant="ticker" 
                                _addClass=""
                                _addClassImg="ar-1-1 rounded-full" 
                                _noDelay=true ~}}
                    </div>
                {{/if}}
            {{/with}}
            <div class="text-xs sm480:text-sm basis-0 grow font-headingSerif text-gray-scorpion dark:text-text-dark">
                <div>
                    {{#with this.editorialData}}
                        {{#unless _hideFrom }}{{this.firstAuthorItem.from}}{{/unless}}
                        {{#with this.firstAuthorItem}}
                            {{#if this.hasProfileLink~}}
                                {{#>components/base/link _link=this.link _css="hover:underline hover:!decoration-1 text-link dark:text-link-dark"}}
                                    <span>{{../this.authorName~}}</span>{{~/components/base/link~}}
                                    {{~#with this.textAfterAuthor}} {{this}}{{/with~}}{{~this.delimiter}}
                            {{else}}
                                {{~#with this.textAfterAuthor}}{{this}}{{/with~}}{{~this.delimiter}}
                            {{/if}}
                        {{/with}}
                    {{/with}}
                </div>
                {{~> @partial-block ~}}
            </div>
        </div>
    {{/if}}
{{else}}
    {{~> @partial-block ~}}
{{/if}}