<div class="text-xs sm480:text-sm font-headingSerif text-gray-scorpion dark:text-text-dark{{#if _isTicker }} js-timeStamp{{/if}}">

    {{#with this.documentModificationDate~}}
        
            {{#if this.isModificationDate }}
                <time datetime="{{this.htmlDateTime}}">{{loca "date_updated_fixed" this.date this.time }}</time>
            {{~else}}
                {{#if this.isPublicationDate ~}}
                    <time datetime="{{this.htmlDateTime}}">{{loca "date_published" this.date this.time }}</time>
                {{else}}
                    {{#if ../_isTicker ~}}
                        <time datetime="{{this.htmlDateTime}}">{{loca "date_lastChanged" this.date this.time }}</time>
                    {{~/if}}
                {{~/if}}
            {{~/if}}
               
    {{~/with}}
    
</div>