<div id="formWrapper" class="mt-4">
<form class="relative flex flex-col justify-center overflow-hidden group js-form js-load" 
    id="form{{nextRandom}}" 
    x-ref="form{{getRandom}}" 
    ax-load 
    x-data="newsletterForm('form{{getRandom}}','{&quot;form_error_max&quot;:&quot;Zu viele Zeichen&quot;,&quot;form_error_email&quot;:&quot;Ungültige E-Mail-Adresse&quot;,&quot;form_error_validurl&quot;:&quot;Ungültige URL&quot;}','&quot;Newsletterformular abgeschickt - Dokumenten-Id:{{this.uuid}}&quot;')" 
    x-init="formInit()" 
    x-ignore
    @submit.prevent="" 
    data-hr-new-newsletter-ds='{
    "trackingInformations": {{this.trackingInformations}} }' 
    action="http://localhost:6006/" 
    method="post" 
    accept-charset="utf-8"
>

        {{~> components/forms/components/input
            _type="email"
            _isEmail=true
            _name="email"
            _label="E-Mail"
            _labelClass=""
            _description=""
            _required=true
            _maxLength="140"
            _errorMandatory="Bitte füllen Sie dieses Pflichtfeld aus"
            _errorEmail="Bitte geben Sie eine gültige E-Mail-Adresse ein."
            _formId=../_formId
        }}
    
        {{~> components/forms/components/choice
            _inGroup=false
            _type="checkbox"
            _name="checkbox"
            _label=(loca "accept_data_privacy_regulation_link")
            _description=""
            _required=true
            _errorMandatory="Bitte wählen Sie dieses Pflichtfeld aus"
        }}
  

    {{~> components/forms/components/controls}}


    {{~> components/forms/components/input
        _name="newsletter"
        _type="hidden"
        _value=this.mailingList
        _wrapperClass="hidden"
        _hasLabel=false
    }}

    {{~>components/forms/components/input
        _name="newsletter-type"
        _type="hidden"
        _wrapperClass="hidden"
        _value="html"
        _hasLabel=false
    }}

    <div class="flex flex-col gap-6 js-successMessage md:gap-10" id="successMessage" x-show="wasPostedWithSuccess"  
        x-transition:enter="transition ease-out duration-300 delay-75"
        x-transition:enter-start="opacity-0 transform scale-90"
        x-transition:enter-end="opacity-100 transform scale-100"
        x-cloak
    >
            {{{include "components/newsletter/components/newsletter_success" }}}
    </div>
    <div class="flex flex-col gap-6 js-errorMessage md:gap-10" id="errorMessage" x-show="wasPostedWithError"
        x-transition:enter="transition ease-out duration-300 delay-75"
        x-transition:enter-start="opacity-0 transform scale-90"
        x-transition:enter-end="opacity-100 transform scale-100"
        x-cloak
    >
            {{{include "components/newsletter/components/newsletter_error" }}}
    </div>
    <div class="flex flex-col gap-6 js-alreadyRegisteredMessage md:gap-10" id="alreadyRegisteredMessage" x-show="wasPostedAlreadyRegistered"
        x-transition:enter="transition ease-out duration-300 delay-75"
        x-transition:enter-start="opacity-0 transform scale-90"
        x-transition:enter-end="opacity-100 transform scale-100"
        x-cloak
    >
            {{{include "components/newsletter/components/newsletter_already_registered" }}}
    </div>
</form>
</div>