<div x-show="avStart" id="{{nextRandom}}" class="h-auto ar-16-9 js-load" data-hr-mediaplayer-loader-ds='{
    "type": "live",
    "position": "{{if _isTeaser 'teaser' 'page'}}",
    "teaserSize" : "{{if _teaserSize _teaserSize '00' }}",
    "config": {
    "containerId": "{{getRandom}}",
    {{#with _deactivateSubtitles}}
        "deactivateSubtitles": "{{this}}",
    {{/with}}
    "streamUrl":"{{this.providerKey}}",
    "skinPath":"{{resourceUrl 'assets/vendor/ardplayer/ardplayer-hr-6.3.4.055f7511.css'}}",
    "mediaMetadata":{{this.mediaMetadata}},
    "ardplayerUrl": "{{resourceUrl "assets/js/vendor/ardplayer-hr-6.3.4.d39f03b6.js"}}",
    "smarttagUrl": "{{resourceUrl "assets/js/vendor/smarttagProd.js"}}",
    "agfAppId": "{{configProperty "tracking.agf.apid"}}",
    "baseUrl":"{{resourceUrl 'assets/vendor/ardplayer/'}}"
        {{#if _posterImage~}}
        ,"previewImageUrl":{
                "s": "{{_posterImage.url.16to9}}",
                "m": "{{_posterImage.url.16to9}}",
                "l": "{{_posterImage.url.16to9}}",
                "xl": "{{_posterImage.url.16to9_retina}}"
            }
    {{else}}
        {{#if this.teaseritem ~}}
            ,"previewImageUrl":{
                "s": "{{if this.teaseritem.[0] this.teaseritem.[0].url.16to9 this.teaseritem.url.16to9 }}",
                "m": "{{if this.teaseritem.[0] this.teaseritem.[0].url.16to9 this.teaseritem.url.16to9 }}",
                "l": "{{if this.teaseritem.[0] this.teaseritem.[0].url.16to9 this.teaseritem.url.16to9 }}",
                "xl": "{{if this.teaseritem.[0] this.teaseritem.[0].url.16to9_retina this.teaseritem.url.16to9_retina }}"
            }
        {{else}}
           ,"previewImageUrl" : "{{resourceUrl 'assets/base/video/dummy.jpg'}}"
        {{/if~}}
    {{/if~}}
        {{#if _overlay}}
        ,"overlay":"true"
        ,"overlayId":"{{getRandom}}"
    {{else}}
        ,"overlay":"false"
    {{/if}}
        {{#if _isTeaser}}
        ,"autoplay":"true"
    {{/if}}
    }}'>
        {{!-- geotag --}}
        {{#unless _hideGeotag}}
            {{~#with _geotag}}
                <span class="js-geotag c-teaser__geotag" aria-hidden="true">{{this.[0].title~}}</span>
            {{/with~}}
        {{/unless}}
</div>
{{#if _isTeaser}}
    <div class="relative {{_aspectRatio}}" x-show="!avStart" > 
        {{#with _teaser}}
            {{~#if _isCopyText~}}
                {{~> components/base/image/responsive_image this.teaserImage _type='story' _variant='100-copytext' _addClassImg="ar__content" _noDelay=../_noDelay ~}}                
            {{else}}
                
                {{#>components/base/link _cssClasses="c-teaser__mediaLink" _isAriaHidden=true
                        _doTracking=(if this.doTracking 'true') _clickLabelPrefix1=this.realTeasersize
                        _clickLabelPrefix2="mediaLink" }}                                      
                    {{~> components/base/image/responsive_image this.teaserImage _type='story' _variant='100-copytext'  _addClassImg="js-mediaplayer__area ar__content mediaPlayerLoader__mediaplayerArea" _noDelay=../../_noDelay ~}}                             
                {{/components/base/link }}
            {{/if}}
        {{/with}}
        {{> components/button/button_round _isButton="true" _addClass="absolute bottom-0 right-0 my-5 mx-5 text-orange-spicyCarrot hover:fill-orange-spicyCarrot js-mediaplayer__button" _showIcon=true _icon="play_button" _label="Live" _srOnly="true" _alpineClick="avStart = !avStart"}}   
    </div>
{{/if}}
