<button 
    {{~#if _aria}} aria-label="{{_aria}}"{{/if}} 
    {{~#if _isButton}} type="button"{{else}} type="submit"{{/if~}} 
    {{~#if _name}} name="{{_name}}"{{/if}} 
    {{~#if _title}} title="{{_title}}"{{/if}} 
    class="{{_addClass}}{{#if _addClass2}} {{_addClass2}}{{/if}}{{#if _buttonColor}} {{_buttonColor}}{{/if}}{{#if _buttonSpace}} {{> components/button/button_round_classes _teaserSize=_teaserSize _teaserType=_teaserType}}{{/if}}{{#if _webview}} -webview{{/if}}"
    {{~#if _value}} value="{{_value}}"{{/if}} 
    {{~#if _alpineClick}} @click="{{_alpineClick}}"{{/if}} 
    {{~#if _x-show}} x-show="{{_x-show}}"{{/if}} 
>
    {{~#if _showIcon~}}
        {{> components/base/image/icon _icon=_icon _iconmap=_iconmap _addClass=_addIconClass _webview=_webview}}
    {{/if~}}
    {{~#if _label~}}
        <span {{#if _srOnly}}class="sr-only"{{/if}}>
            {{~_label~}}
        </span>
    {{/if~}}
</button>