
    <div class="flex flex-wrap w-full js-load">
        <div class="flex {{#if _isPlaylistPlayer}}items-start{{else}}items-center{{/if}} w-full flex-nowrap">

            {{!-- Start/StopButton       --}}
            <div id="playbutton{{_id}}" class="flex">
                {{> components/podcast/components/podcast_playbutton 
                _css="mr-4" 
                _id = _id
                _alpineClick=(loca "play_button_alpine_click" _id) }}
            </div>

            <div class="flex flex-wrap items-start w-full -mt-0.5">
                {{#if _isPlaylistPlayer}}                   
                    <div class="flex w-full">



                        {{!-- Airdate     --}}
                        <div class="text-xs grow font-headingSerif text-podcast-text">
                            {{#unless ../../../../this.isSingleChannel ~}}
                                <span>{{this.podcastChannel.title}}</span>
                                <span class="mx-1">|</span>
                            {{/unless~}}
                            <time datetime="{{this.airdateDate.htmlDateTime}}">{{this.airdateDate.date}}</time>
                        </div>

                        {{!-- Download --}}                        
                        {{> components/podcast/components/podcast_downloadbutton 
                            _addClass="-mb-2 ml-2"
                            _iconClass="h-6 w-6 text-podcast-text fill-current"
                            _url=this.podcastDownloadUrl 
                        }}
                        
                    </div>

                    <div class="flex w-fit max-w-3/4 ">       
                        {{> components/podcast/components/podcast_item_title 
                            _title=this.title 
                            _addClass="" }}  
                    </div>   
                {{/if}}

                {{!-- Range Slider     --}}
                <div class="flex w-full transition-all overflow-hidden {{#if _first}}max-h-9{{else}}max-h-0{{/if}}">
                    <input 
                        {{#unless @first}}x-cloak{{/unless}}
                        x-ref="range" 
                        id="range{{_id}}" 
                        x-on:input="rangeInput({{_id}})" 
                        type="range" {{!-- x-bind:value="currentTimePercentage" --}} 
                        min="0" 
                        max="1000"
                        value="0"
                        class="h-1 my-4 bg-white appearance-none cursor-pointer dark:bg-podcast-text ds-link grow seek_slider" 
                        aria-label="Schieberegler" >  
                </div>

                {{#if _isPlaylistPlayer}}
                    {{!-- Meta Time usw. --}}
                    <div x-init="setTime( '{{_podcastDuration}}', '{{_id}}' ); " class="flex w-full"> 
                        {{> components/podcast/components/podcast_timedisplay 
                        _id=_id
                        _duration=duration
                        _currentTimeClasses="font-bold text-podcast-text dark:text-podcast-text-dark" 
                        _durationClasses="text-podcast-text dark:text-podcast-text-dark" 
                        _containerCss="flex text-sm grow font-heading" }}
                    </div>
                {{/if}}
            </div>
        </div>
        
        {{#unless _isPlaylistPlayer}}
            {{!-- Meta Time usw. --}}
            <div x-init="setTime( '{{_podcastDuration}}', '{{_id}}' ); " >
            {{> components/podcast/components/podcast_timedisplay 
                _id=_id
                _duration=duration 
                _currentTimeClasses="font-bold text-podcast-text dark:text-podcast-text-dark" 
                _durationClasses="text-podcast-text dark:text-podcast-text-dark" 
                _containerCss="pl-16 -mt-3 flex text-sm grow font-heading"}}              
            </div>
        {{/unless}}
        
        {{!-- AudioElement --}}
        {{~#if this.audioUrl ~}}
            <audio   
                class="{{_id}} hidden" 
                data-id="{{_id}}"
                x-init="registerPlayer('{{_podcastDuration}}','{{_id}}')"
                @stopotherplayers.window="stopAllOtherPlayers({{_id}})" 
                data-prop-media-metadata='{{json this.mediaMetadata}}'>
                <source src={{this.audioUrl}} type='audio/mp3'/>
                
            </audio>
        {{/if}}
    </div>
