{{#if this.isSingleChannel}}
    {{#>components/base/link _link=this.link _css="group ds-link font-title text-base mt-2.5 text-podcast-text dark:text-podcast-text-dark"}}
        <span class="mt-0.5 group-hover:underline {{#if _ordered-adjust_context}} pl-8 {{/if}}line-clamp-4 {{inline-switch _teaserSize-adjust_context '["hero","100","50"]''["text-base md:text-2xl lg:line-clamp-2","text-base md:text-2xl lg:line-clamp-2","text-base md:text-lg"]' ~}}">
            {{~_title-adjust_context~}}
        </span>
    {{/components/base/link}}
{{else}}
    <div class="font-title text-base mt-2.5 text-podcast-text dark:text-podcast-text-dark">
        <span class="mt-0.5 {{#if _ordered}} pl-8 {{/if}}line-clamp-4 {{inline-switch _teaserSize '["hero","100","50"]''["text-base md:text-2xl lg:line-clamp-2","text-base md:text-2xl lg:line-clamp-2","text-base md:text-lg"]' ~}}">
            {{~_title~}}
        </span>
    </div>
{{/if}}