<article class="shrink-0 w-[75vw] sm:w-[calc(25%-18px)] rounded-lg [scroll-snap-align:center]" x-data="{ avStart: false }">
    <section>
        <div class="relative bg-white">
            <figure class="{{> components/teaser/utilities/teaser_image_cypress_hook_classes}} relative ar-9-16 w-full" >    
                {{#with this.toModel.videoElement}}
                    {{~> components/mediaplayer/media_player _playerLocation="Teaser" _uiTestHook="ui-test-video-ondemand-player" _isUsedInTeaser=true _addClassImg=../../_addClassImg~}}
                    {{~> components/teaser/components/teaser_media_player ../../this _isVertical=true _playerId=this.ardPlayerConfig.playerId _mediaButtonIcon="play_button" _mediaButtonLabel="Video" _aspectRatio="ar-9-16" _addClassImg="" }}
                {{/with}}
            </figure>
            <div class="absolute left-0 w-full px-2.5 bottom-16">
                <span class="w-full px-2 py-1 text-xl leading-9 text-white rounded sm:text-sm md:text-lg sm:leading-7 md:leading-8.5 hyphens-limit-15 bg-primary box-decoration-clone font-title overflow-anywhere hyphens-auto">
                   {{this.title }}
                </span>  
            </div>
        </div>
        
        <span class='text-xs font-headingSerif text-gray-scorpion empty:hidden'>
            {{~#with this.teaserInfo~}}
                {{~#if this.showTeaserInfo~}}        
                        {{~#with ../this.teaserDate~}}
                            <time datetime="{{this.htmlDateTime}}">{{this.date}}</time>
                            <span class="mx-1">|</span>
                        {{~/with~}}
                {{~/if~}}
            {{~/with~}}
            {{~#with this.label.byline~}}
                {{~#if this.bylineSsi~}}
                    {{~> components/base/loadSSI this.bylineSsi _context=this.context _templatePath=this.bylineSsi~}}
                {{~else~}}   
                    {{~this.bylineText~}}
                {{~/if~}}
            {{~/with~}}
            {{~#if this.link~}}
                <span class="mx-1">|</span>
                {{~#> components/base/link _link=this.link _css="hover:underline hover:!decoration-1 text-link dark:text-link-dark" ~}}
                    {{~loca "teaser_more_video_vertical"~}}
                    {{~#if this.hasIcon ~}}
                        {{~> components/base/image/icon _icon=this.iconName _iconmap="icons" _addClass="inline -mt-0.5 ml-1 w-5 h-5 fill-current"~}}
                    {{~/if~}}
                {{~/components/base/link ~}}
            {{~/if~}}
        </span>

    </section>
</article>