<div class="flex flex-wrap ">
    <span class="w-full text-sm uppercase sm:w-fit font-headingSerif ">{{loca "story_program_supplier"}}</span><!--
     -->
    <div class="flex flex-wrap pt-2 gap-x-4 w-fit sm:w-full">
        {{#if this.link}}
            {{#>components/base/link _link=this.link _css="w-full"}}
                <img class="max-w-full" alt="{{defaultIfEmpty _logo ../this.name}}" src="{{resourceUrl "assets/images/logos/"}}{{defaultIfEmpty _logo ../this.name}}.png">
            {{/components/base/link}}
        {{else}}
            <img class="max-w-full" alt="{{defaultIfEmpty _logo this.name}}" src="{{resourceUrl "assets/images/logos/"}}{{defaultIfEmpty _logo this.name}}.png">
        {{/if}}
        {{#if this.date}}
            <time datetime="{{#if this.displayWithTime}}{{this.date.htmlDateTime}}{{else}}{{this.date.date}}{{/if}}"
                  class="pt-1 text-xs font-copy">
                {{#if this.displayWithTime}}
                    {{loca "date_simple_at" this.date.dateSeparatorTime}}
                {{else}}
                    {{this.date.date}}
                {{/if}}
            </time>
        {{/if}}
    </div>
</div>