{{~changeRandom~}}
<div class="relative flex flex-col w-full {{#unless _inGroup}} mb-5 md:mb-7{{/unless}} gap-y-1 md:gap-y-2" 
   {{#unless _inGroup}}
      {{#if _required}}
         ax-load
         x-data="inputHandler('input{{getRandom}}','{{_formId}}','{{_errorMandatory}}','{{_type}}','', '', '{{_name}}')"
         x-init="validateChoice()"
         x-ignore
      {{/if}}
   {{/unless}}
>
<div class="flex flex-row items-center w-full cursor-pointer{{#if _addClass}} {{_addClass}}{{/if}}">
  <input class="relative self-start flex-shrink-0 w-6 h-6 bg-white dark:bg-black border appearance-none cursor-pointer disabled:cursor-not-allowed border-form-highlight dark:border-form-highlight-dark {{~inline-switch _type '["checkbox","radio"]' '[" checked:bg-form-highlight checked:border-form-highlight form-checkbox"," checked:bg-white checked:border-form-highlight rounded-full form-radio",""]'}}"
      {{#if _required}}
            :class="{' border-form-highlight dark:border-form-highlight-dark': hideError(),'border-error dark:border-error-dark': hideDescription() }"
      {{/if}}
      {{#if _inGroup }}
         {{#if _required}}
            @change="anyChecked()"
         {{/if}}
      {{else}}
         {{#if _required}}
            @change="validateChoice()"
         {{/if}}
      {{/if}}
      id="input{{getRandom}}"
      {{#if _required}}
         @focus="isFocused = true"
         @blur="wasFocused = true; isFocused=false"
      {{/if}}
      type="{{#if _type}}{{_type}}{{/if}}"
      name="{{#if _name}}{{_name}}{{/if}}"
      {{#if _locaKey}}
         title="{{loca _locaKey}}{{#if _required}}*{{/if}}"
      {{else}}
         {{#if _label}}
         title="{{_label}}{{#if _required}}*{{/if}}"
         {{/if}}
      {{/if}}
      {{#if _formField.forHtmlAttribute}}
         value="{{_formField.forHtmlAttribute}}"
      {{else}}
         {{#if _value}}
            value="{{_value}}"
            {{else}}
            value="{{_defaultValue}}"
         {{/if}}
      {{/if}}
      {{#if _required}} required{{/if}}
      {{#unless _multipleChoice}}
         {{#if _required}}
            required
         {{/if}}
      {{/unless}}
      {{#if _formField.rawAsBoolean}}
         checked
      {{else}}
         {{#if _selected}}
            checked
         {{/if}}
      {{/if~}}
   >
  <label for="input{{getRandom}}" class="min-h-6 pt-0.5 items-center justify-center pl-2 cursor-pointer md:pl-3 text-text dark:text-text-dark md:text-base text-sm{{#if _addClassLabel}} {{_addClassLabel}}{{/if}}">
      {{#if _hasBody}}
        {{decorator_body}}{{#unless _inGroup}}{{#if _required}}*{{/if}}{{/unless}}
      {{else}}
        {{#if _locaKey}}
            {{loca _locaKey}}{{#unless _inGroup}}{{#if _required}}*{{/if}}{{/unless}}
        {{else}}
            {{#if _label}}
                {{{_label}}}{{#unless _inGroup}}{{#if _required}}*{{/if}}{{/unless}}
            {{/if}}
        {{/if}}
      {{/if}}
   </label>
</div>  
{{#unless _inGroup}}
   <div class="flex items-end justify-between min-h-5 font-heading">     
      {{#if _description}}  
         <div class="text-xs text-gray-scorpion dark:text-text-dark" {{#if _required}}:class="{'hidden': hideDescription() }"{{/if}}>{{_description}}</div>
      {{/if}}
      {{#if _required}}
         <div class="hidden text-xs text-error dark:text-error-dark" :class="{'hidden': hideError()}" x-text="errorMessage"></div>
      {{/if}}
   </div>
{{/unless}}
</div>
