{{#each this.fields}}
    {{#if this.type.isGroup}}

        {{#if this.caption}}         
            <fieldset>
                <legend class="mb-2 text-lg font-bold md:mb-3 text-text dark:text-text-dark md:text-xl font-heading">{{this.caption}}</legend>
                {{~> components/forms/components/fields _formId=../_formId}}
            </fieldset>            
        {{else}}
            <fieldset>
                {{~> components/forms/components/fields _formId=../_formId}}
            </fieldset>
        {{/if}}
        
    {{else}}
        <div class="js-wrapper-{{this.name}}">
            {{#if this.type.isTextarea}}
                {{~> components/forms/components/textarea
                    _name=this.name
                    _label=this.label
                    _description=this.description
                    _defaultValue=this.defaultValue
                    _counter=this.counter
                    _rows=this.rows
                    _cols=this.columns
                    _required=this.isRequired
                    _maxLength=this.maxLength
                    _errorMessage="Bitte füllen Sie dieses Pflichtfeld aus"
                    _formId=../_formId
                }}
            {{else if this.type.isText}}
                {{~> components/forms/components/input
                    _type=this.type.asString
                    _isEmail=this.type.isEmail
                    _name=this.name
                    _label=this.label
                    _labelClass=""
                    _description=this.description
                    _defaultValue=this.defaultValue
                    _wrapperClass=(if this.isHidden "sr-only !m-0 !p-0 !h-0")
                    _tabindex=(if this.isHidden "-1")
                    _required=this.isRequired
                    _maxLength=this.maxLength
                    _errorMandatory="Bitte füllen Sie dieses Pflichtfeld aus"
                    _errorEmail="Bitte geben Sie eine gültige E-Mail-Adresse ein."
                    _formId=../_formId
                }}
            {{else if this.type.isSelect}}
                {{~> components/forms/components/select
                    _name=this.name
                    _label=this.label
                    _labelClass="hide"
                    _description=this.description
                    _items=this.options
                    _required=this.isRequired
                    _errorMessage="Bitte füllen Sie dieses Pflichtfeld aus"
                    _formId=../_formId
                }}
            {{else if this.type.isChoice}}
                {{#if this.isGrouped }}
                    {{~> components/forms/components/choiceGroup
                        _type=this.type.asString
                        _name=this.name
                        _label=this.label
                        _description=this.description
                        _items=this.options
                        _required=this.isRequired
                        _multipleChoice=../_multipleChoice
                        _isHorizontalLayout=../_isHorizontalLayout
                        _addClassGroup=../_addClassGroup
                        _addClassChoice=../_addClassChoice
                        _addClassLabel=../_addClassLabel
                        _addClassInput=../_addClassInput
                        _isMultimediaVoting=../_isMultimediaVoting
                        _errorMandatory="Bitte füllen Sie dieses Pflichtfeld aus"
                        _formId=../_formId  
                    }}
                {{else}}
                    {{~> components/forms/components/choice
                        _type=this.type.asString
                        _name=this.name
                        _label=this.label
                        _labelClass=(if this.isMeta "-meta")
                        _description=this.description
                        _value=this.options.[0].value
                        _required=this.isRequired
                        _selected= this.options.[0].isSelected
                        _errorMandatory="Bitte füllen Sie dieses Pflichtfeld aus"
                        _formId=../_formId
                        _addClassLabel=../_addClassLabelForDataPolicy
                    }}
                {{/if}}
            {{else if this.type.isUpload}}
                {{~> components/forms/components/upload
                    _name=this.name
                    _label=this.label
                    _description=this.description
                    _multiple=false
                    _required=this.isRequired
                    _errorMandatory="Bitte laden Sie eine Datei hoch"
                    _formId=../_formId
                    _type=(if this.type.isUpload "upload")
                }}
            {{/if}}
        </div>
    
    {{/if}}
    
{{/each}}