<div class="relative flex flex-col w-full mb-4 {{_wrapperClass}}"
   ax-load
   x-data="inputHandler('input{{nextRandom}}','{{_formId}}','{{_errorMandatory}}',{{#if _isEmail}}'email'{{else}}'{{_type}}'{{/if}},'{{_errorEmail}}','{{#if _formField.forHtmlAttribute}}{{_formField.forHtmlAttribute}}{{else}}{{#if _value}}{{_value}}{{else}}{{_defaultValue}}{{/if}}{{/if}}','{{_name}}')"
   x-init="validateField()"
   x-ignore
   >
   <input class="relative w-full h-12 pt-4 pl-4 placeholder-transparent bg-white placeholder:select-none text-text dark:bg-black dark:text-text-dark autofill:shadow-autofill border-form-highlight dark:form-highlight-dark pr-9 peer border-y focus:border-y-2 border-t-transparent dark:border-t-transparent focus:outline-none" 
      :class="{'border-form-highlight dark:form-highlight-dark': hideError(),'border-error dark:border-error-dark': hideDescription() }"
      x-model="input{{getRandom}}"
      id="input{{getRandom}}"
      x-bind:data-is-valid="valid ? 'true' : 'false'"     
      @focus="isFocused = true;"
      @blur="wasFocused = true; isFocused=false; validateField();"
      x-on:keyup ="validateField();"
      type="{{#if _type}}{{_type}}{{/if}}"
      name="{{#if _name}}{{_name}}{{/if}}"
      {{#if _locaKey}}
         title="{{loca _locaKey}}{{#if _required}}*{{/if}}"
         placeholder="placeholder:{{loca _locaKey}}{{#if _required}}*{{/if}}"
      {{else}}
         {{#if _label}}
         title="{{_label}}{{#if _required}}*{{/if}}"
         placeholder="placeholder:{{_label}}{{#if _required}}*{{/if}}"
         {{/if}}
      {{/if}}
      {{#if _formField.forHtmlAttribute}}
         value="{{_formField.forHtmlAttribute}}"
      {{else}}
         {{#if _value}}
            value="{{_value}}"
            {{else}}
            value="{{_defaultValue}}"
         {{/if}}
      {{/if}}
      {{#if _maxLength}}
         maxlength="{{_maxLength}}"
      {{/if~}}
      {{#if _required}} required{{/if}}
      {{#if _tabindex}} tabindex="{{_tabindex}}"{{/if}}
      {{#if _autocompleteOff}} autocomplete="off"{{/if}}
      {{#if _autoSuggestFeature}}
         data-hr-search-suggest='{"templateUrl":"{{resourceUrl "suche/index~suggest.jsp"}}"}'{{/if}}
      >
      
  <label for="input{{getRandom}}" class="{{_labelClass}} peer-placeholder-shown:whitespace-nowrap {{> components/forms/components/labelClasses }}">
      {{#if _hasBody}}
        {{decorator_body}}
      {{else}}
        {{#if _locaKey}}
            {{loca _locaKey}}
        {{else}}
            {{#if _label}}
                {{{_label}}}{{#if _required}}*{{/if}}
            {{/if}}
        {{/if}}
      {{/if}}
   </label> 
   
   <div class="absolute top-0 z-10 flex items-center justify-center h-12 right-4">
      {{> components/forms/components/error_icon _class="hidden" _xclass="{'hidden': hideError() }"}}
   </div>
 
   {{#>components/forms/components/supportingTextBox }}      
      {{#if _description}}  
         <div class="pl-4 text-xs text-gray-scorpion dark:text-text-dark" :class="{'hidden': hideDescription() }">{{{_description}}}</div>
      {{/if}}
      
      <div class="hidden pl-4 text-xs text-error dark:text-error-dark" :class="{'hidden': hideError()}" x-text="errorMessage"></div>
      
   {{/components/forms/components/supportingTextBox }}
</div>