<form 
    x-data="searchSuggest()"
    role="search" 
    action="{{resourceUrl "suche/index.nocache"}}" 
    method="get" 
    class="flex w-full border rounded md:justify-end md:w-1/2 border-blue-congress lg:w-full lg:border-0 lg:border-none"
>
    <div 
        class="relative w-full lg:rounded-l" 
        id="search-content"
    >   
        <label for="searchInput--{{nextRandom}}" class="hidden">suchfeld</label>
        <input 
            @input.debounce.250="getSuggestionsForInput()" 
            @click="active=true" 
            name="query" 
            x-model="query"
            placeholder='{{loca "search_input_placeholder" }}' 
            autofocus="autofocus" 
            class="w-full px-2 py-2 text-base leading-4 placeholder-opacity-100 shadow-inner lg:rounded-l placeholder-text-xs placeholder-blue-congress text-blue-congress focus:outline-none focus:border-transparent"
            type="text"
            id="searchInput--{{getRandom}}"
            autocomplete="off"
        > 
        <div 
            class="relative" 
            x-show="query.length > 1 && !suggestions.length == 0 && active" 
            @click.outside="active = false;" 

            x-cloak  
            x-transition:enter="transition ease-out duration-200" 
            x-transition:enter-start="opacity-0 transform scale-y-90" 
            x-transition:enter-end="opacity-100 transform scale-y-100" 
            x-transition:leave="transition ease-in duration-100" 
            x-transition:leave-start="opacity-100 transform scale-y-100" 
            x-transition:leave-end="opacity-0 transform scale-y-90"
        >
            <div class="absolute w-full mt-1 bg-white border rounded shadow-xl top-100">
                <div class="divide-y" x-ref="list">
                    <template x-for="suggestion in suggestions" :key="suggestion">
                      <a  x-bind:active="false"
                          x-bind:href="'{{resourceUrl "suche/index.nocache"}}?query=' + suggestion"
                          x-bind:class="{'py-1.5 px-2  text-base flex w-full rounded hover:bg-blue-congress': true, 'lg:bg-white hover:bg-blue-congress hover:text-white':suggestion}"
                      >
                          <span x-text="suggestion"></span>
                      </a>
                  </template>
                </div>
            </div>
        </div>  
    </div>
    <button 
        aria-label='{{loca "search_input_aria_submit" }}' 
        type="submit" 
        class="pl-3 pr-2 cursor-pointer lg:rounded-r bg-blue-congress lg:bg-white text-blue-congress z-102"
    >
        <svg class="w-6 h-6 text-white fill-current bg-blue-congress lg:fill-current lg:text-blue-congress lg:bg-white" 
             xmlns="http://www.w3.org/2000/svg" 
             viewBox="0 0 20 20"
        >
            <path d="M12.9 14.32a8 8 0 1 1 1.41-1.41l5.35 5.33-1.42 1.42-5.33-5.34zM8 14A6 6 0 1 0 8 2a6 6 0 0 0 0 12z"></path>
        </svg>
    </button>
</form>

<script type="text/javascript">

    function searchSuggest() {

        return {
            active:false,
            cursorIndex: -1,
            query: "",
            suggestions: [],

            getSuggestionsForInput() {

                suggestionDataUrl = '{{resourceUrl "suche/index~suggest.jsp"}}' + '?suggestions=' + `${this.query}`;

                fetch(suggestionDataUrl)

                    .then((res) =>{  return res.text()})

                    .then((data) => {
                        data = JSON.parse(data.replace(/&quot;/g, '"'))
                        data.solrSuggestion = data.solrSuggestions.filter(solrSuggestion => solrSuggestion.toLowerCase().startsWith(this.query.toLowerCase().trim()))
                        this.suggestions = data.solrSuggestion;
                        this.active = true;
                    });

            },

        };

    }

  </script>