{{#if this.title}}
    <h2 class="mb-5 text-lg font-normal accordion mt-11 sm480:text-2xl font-headingSerif">{{this.title}}</h2>
{{/if}}
<div x-cloak x-data="{selected:0}" class="pb-11{{#unless this.title}} mt-11{{/unless}}">
    {{#each this.copytextParagraph }}
        {{#if this.isHeadline}}
            {{#unless @first}}</div></div>{{/unless}}
            <button type="button"
                    class="w-full text-left accordion link-focus"
                    @click="selected !== {{nextRandom}} ? (selected = {{getRandom}}, setTimeout(() => {if($el.getBoundingClientRect().top<0){$el.scrollIntoView({ block: 'start' })}}, 700)) : selected = null"
                    x-effect="$el.setAttribute('aria-label', selected  == {{getRandom}} ? 'Abschnitt {{this.text}} schließen' : 'Abschnitt {{this.text}} öffnen');$el.setAttribute('aria-expanded', selected  == {{getRandom}} ? 'true' : 'false')"
                    data-hr-click-tracking='{"settings": [{"type": "uxAction", "clickLabel": "Akkordeon::{{this.text}}-Link geklickt"}]}'
                    aria-controls="accordionItem{{getRandom}}"
            >
                <div class="flex flex-row justify-between border-t basis-10/12 content-evenly border-gray-alto">
                    <h3 aria-hidden="true" :class="selected !== {{getRandom}} ? 'line-clamp-2' : ''" class="hover:text-toplineColor self-center my-3.5 text-base font-normal sm480:my-5 sm480:text-lg font-headingSerif">{{{this.text}}}</h3>
                    <span :class="selected == {{getRandom}} ? 'hidden' : ''">
                        {{> components/base/image/icon _icon="plus"  _addClass="hover:text-toplineColor mx-5 mt-2 sm480:mt-4 w-8 h-8 fill-current"}}
                    </span>
                    <span :class="selected !== {{getRandom}} ? 'hidden' : ''">
                        {{> components/base/image/icon _icon="minus"  _addClass="hover:text-toplineColor mx-5 mt-2 sm480:mt-4 w-8 h-8 fill-current"}}
                    </span>
                </div>
            </button>
            <div id="accordionItem{{getRandom}}"
                class="relative w-full overflow-hidden transition-all duration-700 max-h-0"
                style=""
                :class="selected !== {{getRandom}} ? 'invisible' : ''"
                x-ref="container{{getRandom}}"
                x-bind:style="selected == {{getRandom}} ? 'max-height: ' + $refs.container{{getRandom}}.scrollHeight + 'px' : ''"
            >
                <div class="mb-8 accordionItem">
        {{else}}
            {{#if (isStorybook)}}  
                {{> components/article/components/accordion/accordion_item }}   
            {{else}}            
                {{> modules/story/copytext-accordion ~}}
            {{/if}}    
            {{#if @last}}</div></div><div class="w-full border-b border-gray-alto"></div>{{/if}}
        {{/if}}
    {{/each}}
</div>