<h2 class="mb-5 text-lg font-normal mt-11 md:text-2xl font-headingSerif">{{this.title}}</h2>
<div x-cloak x-data="{selected:0}" class="pb-11">
    {{#each this.copytextParagraph }}
        {{#if this.isHeadline}}
            {{#unless @first}}</div></div>{{/unless}}
            <button type="button"
                    class="w-full text-left"
                    @click="selected !== {{nextRandom}} ? selected = {{getRandom}} : selected = null"
            >
                <div class="flex flex-row justify-between border-t basis-10/12 content-evenly border-gray-alto">
                    <h3 :class="selected !== {{getRandom}} ? 'line-clamp-2' : ''" class="hover:text-toplineColor self-center my-3.5 text-base font-normal md:my-5 md:text-lg font-headingSerif">{{{this.text}}}</h3>
                    <span :class="selected == {{getRandom}} ? 'hidden' : ''">
                        {{> components/base/image/icon _icon="plus"  _addClass="hover:text-toplineColor mx-5 mt-2 md:mt-4 w-8 h-8 fill-current"}}
                    </span>
                    <span :class="selected !== {{getRandom}} ? 'hidden' : ''">
                        {{> components/base/image/icon _icon="minus"  _addClass="hover:text-toplineColor mx-5 mt-2 md:mt-4 w-8 h-8 fill-current"}}
                    </span>
                </div>
            </button>
            <div class="relative w-full overflow-hidden transition-all duration-700 max-h-0"
                style=""
                x-ref="container{{getRandom}}"
                x-bind:style="selected == {{getRandom}} ? 'max-height: ' + $refs.container{{getRandom}}.scrollHeight + 'px' : ''"
            >
                <div class="mb-8 accordionItem">
        {{else}}
            {{#if (isStorybook)}}  
                {{> components/article/components/accordion/accordion_item }}   
            {{else}}            
                {{> modules/story/copytext-accordion ~}}
            {{/if}}    
            {{#if @last}}</div></div><div class="w-full border-b border-gray-alto"></div>{{/if}}
        {{/if}}
    {{/each}}
</div>