<div class="{{~#if this.showGenreImage}}{{~inline-switch this.teaserSize '["100"]' '[" md:flex md:flex-row"]'}}{{~/if~}}">
    {{~#if this.showGenreImage}}
        <div class="px-0 pb-5 {{~inline-switch this.teaserSize '["100"]' '[" md:pl-5 md:basis-1/3 md:ar-1-1"]'}}">
            {{~> components/base/image/responsive_image this.genreImage type="standard-ds" variant="topteaser" _addClassImg="ar__content" ~}}
        </div>
    {{~/if~}}
    {{~#with this.clusterTeaserItems}}
        {{~#if ../_ordered}}<ol class="mx-5 list-none divide-y divide-white divide-solid counter-reset border-t border-white {{~#if ../this.showGenreImage}}{{~inline-switch ../this.teaserSize '["100"]' '[" md:-pt-5 md:border-none"]'}}{{/if~}}">{{else}}<ul class="mx-5 divide-y divide-white divide-solid border-t border-white {{~#if ../this.showGenreImage}}{{~inline-switch ../this.teaserSize '["100"]' '[" md:-pt-5 md:border-none"]'}}{{/if~}}">{{/if}}
            {{~#each this~}}
                <li class="{{~#if ../../_ordered}} -ordered {{/if}} py-5 {{#if ../../this.headlineListItems.link}} last-of-type:pb-0{{/if~}} {{~#if ../../this.showGenreImage}}{{~inline-switch ../../this.teaserSize '["100"]' '[" md:first-of-type:pt-0"]'}}{{/if~}}">
                    {{> components/teaser/cluster/teaser_cluster_item _ordered=../../_ordered }} 
                </li>
            {{~/each}}
        {{~#if ../_ordered}}</ol>{{else}}</ul>{{/if~}}
{{/with~}}
</div>