<div class="flex flex-col {{~#if this.showFirstImageOrGenreImage}}{{~inline-switch this.realTeaserSize '["100"]' '[" md:flex-row md:gap-x-6"]'}}{{~/if~}}">
    {{~#if this.showGenreImage}}
        <div class="pb-5{{~inline-switch this.realTeaserSize '["100"]' '[" md:basis-1/2 lg:basis-1/3 md:w-1/2 lg:w-1/3 md:ar-1-1 md:pl-5"]'}}">
            {{~> components/base/image/responsive_image this.genreImage _type=this.teaserType _variant=this.imageVariant _addClass=this.aspectRatio ~}}
        <div class="pb-5{{~inline-switch this.realTeaserSize '["100"]' '[" md:basis-1/2 lg:basis-1/3 md:w-1/2 lg:w-1/3 md:ar-1-1 md:pl-5"]'}}">
            {{~> components/base/image/responsive_image this.genreImage _type=this.teaserType _variant=this.imageVariant _addClass=this.aspectRatio ~}}
        </div>
    {{~/if~}}
    {{~#if this.showFirstImage}}
        {{~#with this.firstEntry~}}
            {{~#if this.teaserImage}}
                <div class="pb-3{{~inline-switch ../this.realTeaserSize '["100"]' '[" md:basis-1/2-gap-6 lg:basis-1/3-gap-6 md:pl-5"]'}}">   
                    {{~> components/base/image/responsive_image this.teaserImage _type=../this.teaserType _variant=../this.imageVariant _addClass=../this.aspectRatio ~}}
                    <div class="mx-5 mt-3{{~inline-switch ../this.realTeaserSize '["100"]' '[" md:mx-0"]'}}">
                        {{> components/teaser/cluster/teaser_cluster_item _size=../this.realTeaserSize _ordered=../this.isOrdered _firstItem=true}}
                    </div> 
                </div>   
            {{/if~}}
        {{~/with~}}
    {{/if~}}
    {{~#with this.clusterTeaserItems}}
        {{~#if ../this.isOrdered}}
            <ol class="mx-5 list-none divide-y divide-white divide-solid counter-reset border-t border-white{{~#if ../this.showFirstImageOrGenreImage}}{{~inline-switch ../this.teaserSize '["100"]' '[" md:-pt-5 md:mx-0 md:pr-5 md:border-none md:basis-1/2-gap-6 lg:basis-2/3-gap-6"]'}}{{/if~}}">
        {{else}}
            <ul class="mx-5 divide-y divide-white divide-solid border-t border-white {{~#if ../this.showFirstImageOrGenreImage}}{{~inline-switch ../this.teaserSize '["100"]' '[" md:-pt-5 md:mx-0 md:pr-5 md:border-none md:basis-1/2-gap-6 lg:basis-2/3-gap-6"]'}}{{/if~}}">
        {{/if}}
            {{~#each this~}}
                <li class="{{~#if ../../this.isOrdered}}-ordered{{/if}} py-3{{#unless ../../this.overviewLink.link}} last-of-type:pb-3{{/unless~}}{{~#if ../../this.showFirstImageOrGenreImage}}{{~inline-switch ../../this.teaserSize '["100"]' '[" md:first-of-type:pt-0"]'}}{{/if~}}">
                    {{> components/teaser/cluster/teaser_cluster_item _size=../this.realTeaserSize _ordered=../../this.isOrdered }} 
                </li>
            {{~/each}}
        {{~#if ../this.isOrdered}}</ol>{{else}}</ul>{{/if~}}
    {{/with~}}
</div>