
{{#with this.teaserInfo}}
    {{!--Teaser-Info--}}
        {{#if this.showTeaserInfo~}}
         <p class="mt-1 text-xs text-gray-scorpion font-headingSerif {{#if ../_ordered}} pl-8 {{/if}}">
            {{~#if this.showTeaserInfoSection}}
               <span>
                  {{../this.documentSection~}}
               </span>
               <span class="mx-px last-of-type:hidden">|</span>
            {{/if}}
            {{~#if this.showTeaserInfoChannel}}
                  <span>
                     {{../this.podcastChannel.title}}
                  </span>
                  <span class="mx-px last-of-type:hidden">|</span>
               {{/if}}
            {{~#if this.showTeaserInfoDate}}
               {{~#with ../this.teaserDate}}
                  <time datetime="{{this.htmlDateTime}}">{{this.date}}</time>
               {{/with~}}
               <span class="mx-px last-of-type:hidden">|</span>
            {{else}}
                  {{~#if this.showTeaserInfoDateTime}}
                     {{~#with ../this.teaserDate}}
                        <time datetime="{{this.htmlDateTime}}">{{loca "date_simple_at" this.dateSeparatorTime}}</time>
                     {{/with~}}
                     <span class="mx-px last-of-type:hidden">|</span>
                  {{/if~}}
            {{/if~}}
            </p>
        {{/if}}
{{/with}}