
{{#with this.teaserInfo}}
<p class="mt-2.5 text-xs text-grey-scorpion font-headingSerif">
    {{!--Teaser-Info--}}
        {{#if this.showTeaserInfo~}}
           {{~#if this.showTeaserInfoSection}}
              <span class="uppercase">
                 {{../this.documentSection~}}
              </span>
              <span class="mx-px last-of-type:hidden">|</span>
           {{/if}}
           {{~#if this.showTeaserInfoDate}}
              {{~#with ../this.teaserDate}}
                 <time datetime="{{this.htmlDateTime}}">{{this.date}}</time>
              {{/with~}}
              <span class="mx-px last-of-type:hidden">|</span>
           {{else}}
               {{~#if this.showTeaserInfoDateTime}}
                  {{~#with ../this.teaserDate}}
                      <time datetime="{{this.htmlDateTime}}">{{loca "date_simple_at" this.dateSeparatorTime}}</time>
                  {{/with~}}
                  <span class="mx-px last-of-type:hidden">|</span>
               {{/if~}}
           {{/if~}}
        {{/if}}
</p>
{{/with}}