{{#with this.link}}
    <a {{#with this.webviewUrl}}data-webviewurl="{{this}}"{{/with}} href="{{this.url}}" {{#with this.webviewUrl}}{{/with}} 
        class="link{{#if _cssClasses}} {{_cssClasses}}{{/if}}{{#if _doTracking}} js-load{{else}}{{#if ../this.content.isFileDownload}} js-loadScript{{/if}}{{/if}}{{#if _isSelected}} {{defaultIfEmpty _selectedCssClass "-current"}}{{/if}}"
        {{#if _doNavigationTracking}}
        data-new-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "1","clickLabel":"{{_clickLabelType}}{{#if _clickLabelPrefix1}}::{{_clickLabelPrefix1}}{{/if}}::{{_clickLabelPrefix2}}-Link geklickt"}]}'
        {{/if}}
        {{#if _doTracking}}
            {{#with this.content.trackingData}}data-new-hr-click-tracking='{"settings": [{"type":"uxAction","secondLevelId": "{{this.secondLevelId}}","clickLabel": "{{#if ../this.content.isFileDownload}}{{this.pageName}}{{else}}mediabuttonclick::{{_clickLabelPrefix1}}::{{_clickLabelPrefix2}}{{/if}}"}]}'{{/with}}
        {{else}}
            {{#if ../this.content.isFileDownload}}
                {{#with this.content.trackingData}}data-new-hr-click-tracking='{"settings": [{"type":"download","secondLevelId": "{{this.secondLevelId}}","clickLabel": "{{this.pageName}}"}]}'{{/with}}
            {{/if}}
        {{/if}}
        {{#if this.isTargetBlank}} target="_blank"  rel="noopener{{#if this.hasNoReferrerFlag}} noreferrer{{/if}}"{{/if}}
        {{#if _isAriaHidden}} aria-hidden="true" tabindex="-1"{{/if}}
    >
        {{> @partial-block }}     
    </a>
{{/with}}  