
<div x-show="avStart" id="{{this.ardPlayerConfig.playerId}}" class="ar-16-9 h-auto js-load js-video-ondemand" data-hr-mediaplayer-loader='{{json this.ardPlayerJsonConfig}}'>{{!-- geotag --}}
    {{#unless _hideGeotag}}
        {{~#with _geotag}}
            <span class="js-geotag c-teaser__geotag" aria-hidden="true">{{this.[0].title~}}</span>
        {{/with~}}
    {{/unless}}
    
</div>


{{#if _isTeaser}}
    <div class="relative {{_aspectRatio}}" x-show="!avStart" >
        {{#with _teaser}}
            
                {{~#if ../_isCopyText~}}
                    {{~> components/base/image/responsive_image this.teaserImage _type=(if this.teaserType this.teaserType 'story') _variant=(if this.content.imageVariant this.content.imageVariant '100-copytext')  _addClassImg="ar__content" _noDelay=../_noDelay ~}}
                {{else}}
                    {{#>components/base/link _cssClasses="c-teaser__mediaLink" _isAriaHidden=true
                                _doTracking=(if this.doTracking 'true') _clickLabelPrefix1=this.realTeasersize
                                _clickLabelPrefix2="mediaLink" }}                       
                        {{~> components/base/image/responsive_image this.teaserImage _type=(if this.teaserType this.teaserType 'story') _variant=(if this.content.imageVariant this.content.imageVariant '100-copytext')  _addClassImg="js-mediaplayer__area ar__content mediaPlayerLoader__mediaplayerArea" _noDelay=../../_noDelay ~}}
                    {{/components/base/link }}
                {{/if}}
                
        {{/with}}
        {{> components/button/button_round _isButton="true" _addClass="absolute bottom-0 right-0 my-5 mx-5 text-blue-jellyBean hover:fill-blue-jellyBean js-mediaplayer__button" _showIcon=true _icon="play_button" _label="Video" _srOnly="true" _alpineClick="avStart = !avStart"}}
    </div>   
{{/if}}