<div class="{{#if this.paragraphProperties.[0].showFullSize }}mt-6 mb-2 sm480:mt-7 sm480:mb-7{{else}}mr-0 sm:mr-5 mb-2 sm:mb-5 mt-5 w-full sm:w-1/2 sm:float-left{{/if}}">
    {{> components/base/image/icon _icon="quotation"  _addClass="sm:ml-4 mr-2 mt-px float-left text-gray-scorpion w-6 h-6 sm480:w-8 sm480:h-8 fill-current dark:fill-link-dark"}}
    <span class="sr-only">{{loca "story_cite_intro_sr" }}</span>
    <blockquote>
        <cite class="block mx-8 text-lg leading-[1.625rem] not-italic sm480:mx-10 font-headingSerif sm:mx-14 sm480:text-xl sm480:leading-normal dark:text-text-dark">{{{this.text}}}</cite>
        {{#with this.paragraphProperties}}
            {{#with this.[0]}}
                {{#with this.citeAuthor}}
                    <span class="block mx-8 mt-3 text-xs sm480:mx-10 sm480:text-sm sm:mx-14 font-headingSerif text-gray-scorpion dark:text-text-dark">
                        <span class="sr-only">{{loca "story_cite_author_sr" }}</span>
                        {{this}}
                    </span>
                {{/with}}
            {{/with}}
        {{/with}}
    </blockquote>
    <span class="sr-only">{{loca "story_cite_outro_sr" }}</span>
</div>
