{{#>components/content/copytext/components/common/paragraphbox_wrapper _showFullsize=this.paragraphProperties.[0].showFullSize}}
    
    <span class="sr-only">{{loca "story_infobox_intro_sr" }}</span>

    {{~#if this.paragraphProperties.[0].title}}
        <h3 class="-mt-1 text-lg sm480:text-2xl font-headingSerif dark:text-text-dark">{{this.paragraphProperties.[0].title}}</h3>
    {{/if}}

    {{~#with this.paragraphBoxItem }}
        {{~#if this.isImage}}
            {{#if ../paragraphProperties.[0].showFullSize }}
                {{#unless this.showFullSize.isTrue }}
                    <div class="w-full mr-0 sm:mr-5 sm:w-1/2 sm:float-left">
                {{/unless}}
            {{/if}}
            {{> components/content/copytext/components/image/figure
                    _cssClass=(if ../this.paragraphProperties.[0].title "mt-5 mb-0" "my-0" )
                    _type="story"
                    _variant=(if this.showPortrait.isTrue "copytext-portrait" "100-copytext")
                    _noAr=(if this.showPortrait.isTrue true false)
                    _pictureAddClass=(if this.showPortrait.isTrue "" "ar-16-9")
                    _cssClassCaption="mb-3"
                    _isWebview=../../_isWebview}}
            {{#if ../paragraphProperties.[0].showFullSize }}
                {{#unless this.showFullSize.isTrue }}
                    </div>
                {{/unless}}
            {{/if}}
        {{/if~}}
    {{/with}}

    {{#each this.text.split}}
        {{#if this.isText}}
            <p class="mt-4 text-base copytextParagraphDS sm480:text-lg sm480:leading-normal dark:text-text-dark">{{{this.text}}}</p>
        {{/if}}
        {{#if this.isUl}}
            <ul class="pl-5 mt-4 overflow-hidden text-base list-disc copytextParagraphDS sm480:text-lg sm480:leading-normal dark:text-text-dark">{{{this.text}}}</ul>
        {{/if}}
        {{#if this.isOl}}
            <ol class="pl-5 mt-4 overflow-hidden text-base list-decimal copytextParagraphDS sm480:text-lg sm480:leading-normal dark:text-text-dark">{{{this.text}}}</ol>
        {{/if}}
    {{/each}}
    {{~#block "subParagraphs"}}{{/block~}}

    <span class="sr-only">{{loca "story_infobox_outro_sr" }}</span>
    
{{/components/content/copytext/components/common/paragraphbox_wrapper}}