{{#>components/content/copytext/components/common/paragraphbox_wrapper _showFullsize=this.paragraphProperties.[0].showFullSize}}
    
    <span class="sr-only">{{loca "story_infobox_intro_sr" }}</span>

    {{~#if this.paragraphProperties.[0].title}}
        <h3 class="text-lg sm480:text-2xl font-headingSerif dark:text-text-dark">{{this.paragraphProperties.[0].title}}</h3>
    {{/if}}

    {{~#with this.paragraphBoxItem }}
        {{~#if this.isImage}}
            {{#if ../paragraphProperties.[0].showFullSize }}
                {{#unless this.showFullSize.isTrue }}
                    <div class="w-full mr-0 sm:mr-5 sm:w-1/2 sm:float-left">
                {{/unless}}
            {{/if}}
            {{#if this.showPortrait.isTrue }}
                {{~#if ../this.paragraphProperties.[0].title}}
                    {{> components/content/copytext/components/image/figure
                        _cssClass="mt-5 mb-0"
                        _type="story"
                        _variant="copytext-portrait"
                        _noAr="true"
                        _isWebview=../../_isWebview}}
                {{else}}
                    {{> components/content/copytext/components/image/figure
                        _cssClass="my-0"
                        _type="story"
                        _variant="copytext-portrait"
                        _noAr="true"
                        _isWebview=../../_isWebview}}
                {{/if}}
            {{else}}
                {{~#if ../this.paragraphProperties.[0].title}}
                    {{> components/content/copytext/components/image/figure
                        _cssClass="mt-5 mb-0"
                        _cssClassCaption=""
                        _type="story"
                        _variant="100-copytext"
                        _pictureAddClass="ar-16-9"
                        _isWebview=../../_isWebview}}
                {{else}}
                    {{> components/content/copytext/components/image/figure
                        _cssClass="my-0"
                        _cssClassCaption=""
                        _type="story"
                        _variant="100-copytext"
                        _pictureAddClass="ar-16-9"
                        _isWebview=../../_isWebview}}
                {{/if}}
            {{/if}}
            {{#if ../paragraphProperties.[0].showFullSize }}
                {{#unless this.showFullSize.isTrue }}
                    </div>
                {{/unless}}
            {{/if}}
        {{/if~}}
    {{/with}}

    {{#each this.text.split}}
        {{#if this.isText}}
            <p class="copytextParagraphDS {{#if ../this.paragraphProperties.[0].title}}mt-4{{else}}{{#if ../this.paragraphBoxItem}}mt-4{{else}}-mt-0.5{{/if}}{{/if}} text-base sm480:text-lg sm480:leading-normal dark:text-text-dark">{{{this.text}}}</p>
        {{/if}}
        {{#if this.isUl}}
            <ul class="copytextParagraphDS {{#if ../this.paragraphProperties.[0].title}}mt-4{{else}}{{#if ../this.paragraphBoxItem}}mt-4{{else}}-mt-0.5{{/if}}{{/if}} overflow-hidden pl-9 text-base list-disc sm480:text-lg sm480:leading-normal dark:text-text-dark">{{{this.text}}}</ul>
        {{/if}}
        {{#if this.isOl}}
            <ol class="copytextParagraphDS {{#if ../this.paragraphProperties.[0].title}}mt-4{{else}}{{#if ../this.paragraphBoxItem}}mt-4{{else}}-mt-0.5{{/if}}{{/if}} overflow-hidden pl-9 text-base list-decimal sm480:text-lg sm480:leading-normal dark:text-text-dark">{{{this.text}}}</ol>
        {{/if}}
    {{/each}}
    {{~#block "subParagraphs"}}{{/block~}}

    <span class="sr-only">{{loca "story_infobox_outro_sr" }}</span>
    
{{/components/content/copytext/components/common/paragraphbox_wrapper}}