{{!--

`_type`
`_variant`
`_alttext`       Alternativ-Text des Bildes.<br>
`_addClass`      Möglichkeit zur Angabe einer zusätzlichen CSS-Klasse. `image` ist Standard.<br>
`_addClassImg`
`_noDelay`       Bilder ohne verzögerung anzeigen, also direkt ins dom schreiben
`_errorHandler`  JavaScript-Code, der ausgeführt wird, wenn das Bild nicht geladen werden kann. Wird z.B. für Fehlerhandling für EDP-Images genutzt.<br>
'_disableNoScript' don't add no script fallback

--}}
{{#withParam this.responsiveImage type variant }}
    {{#if this.asPicture}}
        <picture class="picture {{~#if ../addClass}} {{../addClass}}{{/if}}">
            {{#unless _disableNoScript}}
                <noscript>
                    <img class="image {{~#if ../addClassImg}} {{../addClassImg}}{{/if}}" src="{{this.fallback}}" alt="{{#if ../alttext}}{{../alttext}}{{else}}{{../this.alttext}}{{/if}}">
                </noscript>
            {{/unless}}
            {{#with this.sources}}
                {{#each this}}
                    <source{{#with this.media}} media="{{this}}"{{/with}}
                           {{#with this.sizes}} sizes="{{this}}"{{/with}}
                           {{#with this.srcset}} srcset="{{this}}"{{/with}}>
                {{/each}}
            {{/with}}
                <img class="image {{~#if ../addClassImg}} {{../addClassImg}}{{/if}}" loading="{{#if ../noDelay}}auto{{else}}lazy{{/if}}" src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" alt="{{#if ../alttext}}{{../alttext}}{{else}}{{../this.alttext}}{{/if}}" {{~#if ../errorHandler }} onerror="this.onerror=null; {{../errorHandler}}"{{/if}}>
        </picture>
    {{/if}}

    {{#if this.asImage}}
        {{#with this.sources.[0]}}
            {{~#with ../../addClass }}<div class="{{this}}">{{/with}}
            {{#unless ../../disableNoScript}}
                <noscript>
                    <img class="image {{~#if ../../addClassImg}} {{../../addClassImg}}{{/if}}" src="{{../this.fallback}}" alt="{{#if ../../alttext}}{{../../alttext}}{{else}}{{../../this.alttext}}{{/if}}">
                </noscript>
            {{/unless}}
            <img {{#with this.sizes}}sizes="{{this}}" {{/with~}}
                    loading="{{#if ../../noDelay}}auto{{else}}lazy{{/if}}"
                 {{#with this.srcset}} {{#if ../../../noDelay}}srcset{{else}}data-srcset{{/if}}="{{this}}"{{/with}}
                src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw=="
                alt="{{#if ../../alttext}}{{../../alttext}}{{else}}{{../../this.alttext}}{{/if}}" class="image imageSimple {{~#with ../../addClassImg }} {{this}}{{/with}}" {{~#if ../../errorHandler}} onerror="this.onerror=null; {{../../errorHandler}}" {{~/if}}>
            {{~#with ../../addClass }}</div>{{/with}}
        {{/with}}

    {{/if}}
{{/withParam}}