<nav x-data="{ open: false }" 
    class="w-full {{_componentClass}} {{_modifier}}"
    id="dropdown--{{nextRandom}}"
    tabindex="0"
    role="navigation"
    aria-labelledby="dropdown__label--{{getRandom}}">

    <span id="o-dropdown__label--{{getRandom}}" class="hidden">{{defaultIfEmpty _hiddenNavigationLabel "Unternavigation"}}</span>

    <div x-show="($screen('md') || $screen('lg') ? false : true)" class="flex w-full h-10 px-2 py-2 mb-2 overflow-hidden border rounded-sm border-blue-congress whitespace-nowrap text-blue-congress fill-congress">
        <span class="text-base self-center w-full {{_componentClass}}__button-text">
                {{_buttonText}}
        </span>
        <div class="flex self-center justify-end w-auto px-2 py-1">
            <span x-on:click="open = ! open" :class="open ? 'hidden' : ''"  class="flex justify-end o-dropdown__button-icon {{_componentClass}}__button-icon -open">
            {{~> components/base/image/icon _icon=(defaultIfEmpty _iconOpen "arrow-down") _addClass="flex justify-end h-4 w-4" _iconmap="icons"~}}
            </span>

            <span x-on:click="open = ! open" :class="open ? '' : 'hidden'" class="o-dropdown__button-icon {{_componentClass}}__button-icon -close">
            {{~> components/base/image/icon _icon=(defaultIfEmpty _iconClose "arrow-up") _addClass="h-4 w-4" _iconmap="icons"~}}
            </span>
        </div>
        
    
    </div>
    <div x-show="($screen('md') ? true : open)" aria-haspopup="true" class="md:relative md:left-0 md:h-auto md:overflow-visible {{_componentClass}}__content">
       {{> @partial-block }}
    </div>
    
</nav>