{{#>components/forms/components/backgroundBox _isTeaser=_isTeaser }}
    {{#with this.form}}
        {{#unless this.isVotingOver}}
            {{#unless ../this.hasRedirect}}
                <div class="js-load {{../_addClass}}"
                    data-hr-voting-ds='{"jsonURL":"{{this.jsonUrl}}", "errorMessages": {{this.errorMessages}} }'
                    data-hr-voting-validator-ds='{"isMultipleChoice": {{../this.isMultipleChoice}}, "minAnswerCount": 1, "maxAnswerCount": {{../this.maxAnswerCount}} }'
                    {{#if this.isSimpleSecured}}
                        data-hr-voting-cookie-checker-ds='{ "alreadyVotedHintText": "{{loca "votingform_already_voted_cookie_hint"}}" , "hideVotingResult": {{this.hideVotingResult}} , "votingId": "{{this.sophoraId}}" }'
                        id="{{this.sophoraId}}"
                    {{/if}}
                >
            {{else}}
                <div class="js-load {{../_addClass}}"
                    {{#if this.is2FSecured}}data-hr-voting-ds='{"jsonURL":"{{this.jsonUrl}}", "errorMessages": {{this.errorMessages}} }'{{/if}}
                    data-hr-voting-validator-ds='{"isMultipleChoice": {{../this.isMultipleChoice}}, "minAnswerCount": 1, "maxAnswerCount": {{../this.maxAnswerCount}} }'
                    {{#if this.isSimpleSecured}}
                        data-hr-voting-cookie-checker-ds='{ "alreadyVotedHintText": "{{loca "votingform_already_voted_cookie_hint"}}" , "hideVotingResult": {{this.hideVotingResult}} , "votingId": "{{this.sophoraId}}" }'
                        id="{{this.sophoraId}}"
                    {{/if}}
                >
            {{/unless}}    
                <div class="js-voting-wrapper">
                    <form class="js-votingForm" 
                        action="{{this.url}}" 
                        method="post"
                        enctype="application/x-www-form-urlencoded" 
                        accept-charset="utf-8" 
                        autocomplete="off"
                    >
                        {{> components/voting/components/voting_header _isTeaser=../../_isTeaser _title=../this.title _topline=../this.topline}}
                        
                        <div class="js-voting-form__bottomWrapper">
                            {{#if this.shorttext}}
                                <p class="mt-3 text-base font-copy sm:text-lg dark:text-text-dark">{{this.shorttext}}</p>
                            {{/if}}

                            <div class="w-full mt-6 text-xs text-right sm:mt-8 font-headingSerif sm:text-sm text-gray-scorpion dark:text-text-dark">
                                {{#if ../this.isMultipleChoice}}
                                    {{loca "votingform_open_answers_text" ../this.maxAnswerCount}}
                                {{else}}
                                    {{loca "votingform_single_answer_text"}}
                                {{/if}}
                                <span class="block float-right w-8 js-voting-counter">(0/{{../this.maxAnswerCount}})</span>
                            </div>
                            {{> components/forms/components/fields 
                                    _multipleChoice=../this.isMultipleChoice
                                    _isHorizontalLayout=this.isHorizontalLayout
                                    _isMultimediaVoting=../this.isMultimediaVoting
                                    _addClassGroup="!flex-col mt-2" 
                                    _addClassChoice="has-[input:checked]:outline outline-2 outline-blue-science-hex hover:!outline-2 hover:!outline-blue-science-hex bg-white has-[input:disabled]:opacity-50 has-[input:disabled]:cursor-not-allowed" 
                                    _addClassLabel="w-full !pt-[15px] sm:!pt-[18px] !pb-[9px] sm:!pb-3.5 !pr-3 sm:!pr-4" 
                                    _addClassLabelForDataPolicy="!pt-0"
                                    _addClassInput="!my-3 sm:!my-4 !ml-3 sm:!ml-4"
                            }}
                            <div class="w-full h-12">
                                {{#if this.is2FSecured}}
                                    <div class="float-left mt-1 text-xs text-gray-scorpion dark:text-text-dark font-headingSerif">{{loca "form_text_required"}}</div>
                                {{/if}}                            
                                {{> components/voting/components/voting_submit _label="Abstimmen" _addClass="js-voting-submit-button"}}
                            </div>
                        </div>
                        <script type="text/html" class="js-successMessage">
                                {{#if this.is2FSecured}}
                                    {{> components/voting/voting_result
                                            _statusDone=true  
                                            _resultBoxMessageTitle=(loca "votingform2F_title_success") 
                                            _resultBoxMessageText=(loca "votingform2F_text_success")
                                            _isTeaser=../../_isTeaser
                                    }}
                                {{else}}
                                    {{> components/voting/voting_result
                                            _isInline=true 
                                            _statusDone=true 
                                            _hideVotingResult=this.hideVotingResult 
                                            _resultBoxMessageTitle=(loca "votingform_title_success") 
                                            _resultBoxMessageText=../this.votingSuccessText.richtext
                                            _isTeaser=../../_isTeaser
                                    }}
                                {{/if}}
                        </script>
                        <script type="text/html" class="js-errorMessage">    
                            {{> components/voting/voting_result
                                    _isInline=true 
                                    _statusDone=false 
                                    _hideVotingResult=true 
                                    _showBackButton=true  
                                    _resultBoxMessageTitle=(loca "votingform_title_error") 
                                    _resultBoxMessageText=(loca "votingform_text_error")
                                    _isTeaser=../../_isTeaser
                            }}
                        </script>
                        {{#unless this.hideVotingResult}}
                            <script type="text/html" class="js-result">
                                    {{#unless this.is2FSecured}}
                                        {{> components/voting/voting_result
                                                _resultBoxMessageText=(loca "votingform_already_voted_cookie_hint")   
                                                _statusDone=true 
                                                _addClass=../_addClass 
                                                _hideVotingResult=this.hideVotingResult
                                                _isTeaser=../../_isTeaser
                                        }}
                                    {{/unless}}
                            </script>
                        {{/unless}}                                                            
                    </form>
                </div>
            </div>
        {{else}}
            {{> components/voting/voting_result _hideVotingResult=this.hideVotingResult}}
        {{/unless}}
    {{/with}}
{{/components/forms/components/backgroundBox }}

{{!--Featured Content--}}
{{> components/teaser/components/teaser_featured_content _size=this.realTeaserSize}}