<div x-show="avStart" id="{{this.ardPlayerConfig.playerId}}" class="ar-16-9 h-auto js-load {{if _cypressHook _cypressHook 'js-media-element'}} js-video-livestream" data-hr-mediaplayer-loader='{{json this.ardPlayerJsonConfig}}'>
    {{#unless _hideGeotag}}
        {{~#with _geotag}}
            <span class="js-geotag c-teaser__geotag" aria-hidden="true">{{this.[0].title~}}</span>
        {{/with~}}
    {{/unless}}
</div>
{{#if _isTeaser}}
    <div class="relative {{_aspectRatio}}" x-show="!avStart" > 
        {{#with _teaser}}
            {{~#if ../_isCopyText~}}
                {{~> components/base/image/responsive_image this.teaserImage _type=(if this.teaserType this.teaserType 'story') _variant=(if this.content.imageVariant this.content.imageVariant '100-copytext') _addClassImg="ar__content" _noDelay=../_noDelay ~}}                
            {{else}}          
                {{#decorator 'components/base/link' _cssClasses="c-teaser__mediaLink" _isAriaHidden=true
                        _doTracking=(if this.doTracking 'true') _clickLabelPrefix1=this.realTeasersize
                        _clickLabelPrefix2="mediaLink" }}                                      
                    {{~> components/base/image/responsive_image this.teaserImage _type=(if this.teaserType this.teaserType 'story') _variant=(if this.content.imageVariant this.content.imageVariant '100-copytext') _addClassImg="ar__content" _noDelay=../_noDelay ~}}                             
                {{/decorator }}
            {{/if}}
        {{/with}}
        {{> components/button/button_round _isButton="true" _addClass=(if _isLivestream 'absolute bottom-0 right-0 my-5 mx-5 text-orange-spicyCarrot hover:fill-orange-spicyCarrot js-mediaplayer__button' 'absolute bottom-0 right-0 my-5 mx-5 text-blue-jellyBean hover:fill-blue-jellyBean js-mediaplayer__button') _showIcon=true _icon=_mediaButtonIcon _label=_mediaButtonLabel _srOnly="true" _alpineClick="avStart = !avStart; $dispatch('player_start')"}}   
        {{~#if this.isPodcast~}}
            <a href="{{this.podcastDownloadUrl}}" class="absolute top-0 right-0 m-5 js-load"{{#with
                    this.trackingData}}
            data-hr-click-tracking='{"settings": [{"type": "download", "clickLabel": "{{this.pageName}}", "secondLevelId": "{{this.secondLevelId}}"}, {"type": "uxAction", "clickLabel": "medienDownload::podcast::{{_type}}", "secondLevelId": "{{this.secondLevelId}}" }]}'{{/with}}>
                {{> components/base/image/icon _icon='download-button' _addClass="w-10 h-10"}}
            </a>
        {{~/if~}}
    </div>
{{/if}}