</div>
<div 
  x-cloak 
  x-data="{ tab: '{{this.tabbedGroup.[0].title}}' }"
  class="grid grid-cols-12 pt-6 mx-0 col-full md:pt-7 bg-highlight-1 md:rounded-tl-3xl md:rounded-br-3xl md:col-main gap-x-6 gap-y-6"
>
  <section class="col-span-full" data-hr-group-tabbed='{"wandaPageId":"{{this.wandaPageId}}"}'>
    <div class="flex flex-wrap justify-center mb-7 mx-1.5" role="tablist">
      {{~#each this.tabbedGroup~}}
        <button  onclick="window.location.href='#tgp{{@index}}';"
                 :class="tab === '{{this.title}}' ? 'text-button-inverted bg-button border-button' : 'bg-button-inverted text-button-hollow border-button-inverted hover:border-button-hollow'" 
                 x-effect="$el.removeAttribute('onclick')"
                 x-on:click.prevent="tab = '{{this.title}}'"  
                 class="border text-base font-heading py-px px-2 m-1.5" 
                 type="button" 
                 role="tab"
        >
          {{this.title}}
        </button>
      {{~/each~}}
    </div>
    {{~> components/teaser/teaser_logic/teaser_logic ~}}
  </section>
</div>
<div class="grid grid-cols-12 py-6 bg-white sm:px-8 col-full sm:col-main gap-x-6 gap-y-6">