</div>
{{~#if this.hasGroupTitle}}
    <div class="grid grid-cols-12 bg-white mt-12 md:mt-14 sm:px-9.5 col-full sm:col-main gap-x-6 gap-y-10 md:gap-y-14">
        <h2 class="py-0 text-2xl md:text-5xl col-span-full font-title headline-barrier">
            {{this.groupTitle}}
        </h2>
    </div>
{{/if}}
<div 
  x-data="{ tab: '{{this.tabbedGroup.[0].title}}', test:true }"
  class="grid grid-cols-12 pt-6 mx-0 mb-5 md:mb-7 {{#if this.hasGroupTitle}}mt-5{{else}}mt-14{{/if}} col-full md:pt-7 bg-highlight-1 md:rounded-tl-hr md:rounded-br-hr md:col-main gap-x-6 gap-y-6"
>
  <section class="px-0 col-span-full sm:px-8 md:px-0">
    <div class="flex flex-wrap justify-center mx-5 gap-y-3 mb-7 gap-x-2" role="tablist">
      {{~#each this.tabbedGroup~}}
        {{#> components/button/button _size="sm" _css="" _variant="secondary" _type="button" }}
          {{> components/button/components/button_label _css="" _label=this.title}}
        {{/components/button/button }}
        {{#*inline "htmlProperties"~}} 
          :class='{"{{> components/button/utilities/button_variation_classes _variant='primary' _onBackground=false}} bg-button--dark ":tab ==="{{this.title}}",
          "{{~> components/button/utilities/button_variation_classes _variant='secondary' _onBackground=false~}}":tab !="{{this.title}}"}' 
          x-on:click.prevent="tab = '{{this.title}}'; " role="tab" data-hr-click-tracking='{"settings": [{"type": "uxAction", "clickLabel": "{{this.title}}:TabboxClick"}]}'   
        {{~/inline}}
      {{~/each~}}
    </div>
    {{~> components/teaser/teaser_logic/teaser_logic ~}}
  </section>
</div>
<div class="{{> components/grid/grid_group_wrapper_classes }} hideGridGroupIfEmpty">