</div>
<div 
  x-data="{ tab: '{{this.tabbedGroup.[0].title}}', test:true }"
  class="grid grid-cols-12 pt-6 mx-0 mb-8 mt-14 col-full md:pt-7 bg-highlight-1 md:rounded-tl-hr md:rounded-br-hr md:col-main gap-x-6 gap-y-6"
>
  <section class="px-0 col-span-full sm:px-8 md:px-0">
    <div class="flex flex-wrap justify-center mb-7 mx-1.5" role="tablist">
      {{~#each this.tabbedGroup~}}
        {{#> components/button/button _size="sm" _css="mx-1.5" _variant="secondary" _type="button" }}
          {{#*inline "html_properties"~}} 
            :class='{"{{> components/button/utilities/button_variation_classes _variant='primary' _onBackground=false}} bg-button-primary--dark":tab ==="{{this.title}}",
            "{{~> components/button/utilities/button_variation_classes _variant='secondary' _onBackground=false~}}":tab !="{{this.title}}"}' 
            x-on:click.prevent="tab = '{{this.title}}'; " role="tab" data-hr-click-tracking='{"settings": [{"type": "uxAction", "clickLabel": "{{this.title}}:TabboxClick"}]}'   
          {{~/inline}}
          {{> components/button/components/button_label _label=this.title}}
        {{/components/button/button }}
      {{~/each~}}
    </div>
    {{~> components/teaser/teaser_logic/teaser_logic ~}}
  </section>
</div>
<div class="{{> components/grid/grid_group_wrapper_classes }}"> 