<div class="flex w-2/3 w-max-2/3">
    <div class="inline text-base">
        {{#with _hrDeLink}}
            <a class="hover:underline link" href="{{resourceUrl this.url _site=this.site}}"{{#if
                this.targetBlank}}target="_blank" rel="noopener noreferrer"{{/if}}
               title="{{this.title}}">&copy; {{this.text}} {{currentTime.year}} {{#if
                this.targetBlank}}
                {{> components/base/image/icon _icon="extern" _iconmap="icons" _addClass="flex items-center w-4 h-3 fill-white"}}
                {{/if}}
            </a>
        {{/with}}
        <span class="inline px-2">|</span>
        {{#with _ardDeLink}}
            <a class="hover:underline " href="{{this.url}}"{{#if this.targetBlank}}
               target="_blank" rel="noopener noreferrer"{{/if}} title="{{this.title}}">{{this.text}} {{#if
                this.targetBlank}}
                {{> components/base/image/icon _icon="extern" _iconmap="icons" _addClass="flex items-center w-4 h-3 fill-white"}}
                {{/if}}
            </a>
        {{/with}}
        <span class="inline px-2">|</span>
    </div>
    <div class="inline-flex text-base">
        {{#with _dataProtectionLink}}
            <a class="hover:underline link" href="{{this.url}}"{{#if this.targetBlank}}
               target="_blank" rel="noopener noreferrer"{{/if}} title="{{this.title}}">{{this.text}}{{#if
                this.targetBlank}}
                {{> components/base/image/icon _icon="extern" _iconmap="icons" _addClass="flex items-center w-4 h-3 fill-white"}}
                 {{/if}}
            </a>
        {{/with}}
        <span class="inline px-2">|</span>
        {{#with _imprintLink}}
            <a class="hover:underline link" href="{{resourceUrl this.url _site=this.site}}"{{#if
                this.targetBlank}}
               target="_blank" rel="noopener noreferrer"{{/if}} title="{{this.title}}">{{this.text}} {{#if
                this.targetBlank}}
                {{> components/base/image/icon _icon="extern" _iconmap="icons" _addClass="flex items-center w-4 h-3 fill-white"}}   
                 {{/if}}
            </a>
        {{/with}}
    </div>
</div>