{{#if this.useNewNewsletter}}
    <div id="{{this.uuid}}" class="{{_addClass}} ">
        {{~> components/base/a11y/hiddenText _locaTag="story_newsletter_intro_sr" ~}}
        <h3 class="mb-6 text-2xl md:text-3xl font-headingSerif sm:mb-12 text-text dark:text-text-dark">
            {{this.title}}
        </h3>
        {{#if this.description}}
        <p class="mt-4 text-base font-copy sm:text-lg sm:mt-5 dark:text-text-dark">
            {{{this.description}}}
        </p>
       {{/if}}
        <div class="js-formWrapper">
            {{> components/newsletter/components/new_newsletter_form}}
        </div>
        {{~> components/base/a11y/hiddenText _locaTag="story_newsletter_outro_sr" ~}}
    </div>
{{else}}
    <div id="{{this.uuid}}" class="{{_addClass}} js-load" data-hr-newsletter='{"url": "{{this.url.nocache}}"}'>
        {{~> components/base/a11y/hiddenText _locaTag="story_newsletter_intro_sr" ~}}
        <h3 class="mb-6 text-2xl md:text-3xl font-headingSerif sm:mb-12 text-text dark:text-text-dark">
            {{this.title}}
        </h3>
    
        <div class="js-formWrapper">
            {{> components/newsletter/components/newsletter_form}}
        </div>
       
        {{~> components/base/a11y/hiddenText _locaTag="story_newsletter_outro_sr" ~}}
    </div>
 {{/if}}