<nav id="sprungmarken" aria-labelledby="anchorNavHeadline">
    <span id="anchorNavHeadline">{{loca "anchor_headline"}}</span>
    <ul>
        <li><a href="#brandNavWrapper" >{{loca "anchor_brandNav"}}</a></li>
        <li><a href="#serviceNavWrapper">{{loca "anchor_serviceNav"}}</a></li>
        <li><a href="#sectionNavWrapper">{{loca "anchor_sectionNav"}}</a></li>
        {{{this.featureBoxAnchorSSI}}}
        <li><a href="#content">{{loca "anchor_mainContent"}}</a></li>
    </ul>
</nav>