<nav id="sprungmarken" aria-labelledby="anchorNavHeadline">
    <span id="anchorNavHeadline" class="hidden">{{loca "anchor_headline"}}</span>
    <ul>
        <li><a href="#brandNavWrapper" class="hidden">{{loca "anchor_brandNav"}}</a></li>
        <li><a href="#serviceNavWrapper" class="hidden">{{loca "anchor_serviceNav"}}</a></li>
        <li><a href="#sectionNavWrapper" class="hidden">{{loca "anchor_sectionNav"}}</a></li>
        {{{this.featureBoxAnchorSSI}}}
        <li><a href="#content" class="hidden">{{loca "anchor_mainContent"}}</a></li>
    </ul>
</nav>