<footer class="flex flex-col mt-12 sm:mt-14 text-xs md:text-sm text-gray-scorpion dark:text-text-dark font-headingSerif{{#if _addClass}} {{_addClass}}{{/if}}">
{{#if this.hasMoreThanOneAuthor~}}
    {{#with this.editorialStaffItems}}
        <p>
            <span>Von:</span>
            {{#each this}}
                {{#if this.hasProfileLink}}
                    {{#>components/base/link _link=this.link _css="text-link dark:text-link-dark hover:underline"}}<span>{{../this.authorName~}}</span>{{/components/base/link~}}
                    {{~#with this.textAfterAuthor}}{{this}}{{/with}}{{~this.delimiter~}}
                {{else}}
                    {{#with this.textAfterAuthor}}{{this}}{{/with}}{{this.delimiter}}
                {{/if}}
            {{/each}}
        </p>
    {{/with}}
{{else}}
<div>
{{#if this.hasOneAuthor~}}
    {{#if this.authorImage.isImage}}
        <div class="self-start w-10 h-10 mr-4 basis-10 grow-0">
            {{~> components/base/image/responsive_image this.authorImage
                    _type="profile"
                    _variant="ticker"
                    _addClass=""
                    _addClassImg="ar-1-1 rounded-full"
                    _noDelay=true ~}}
        </div>
    {{/if}}
    {{#with this.editorialStaffItems}}
        <div>
            <span>Von:</span>
            {{#each this}}
                {{#if this.hasProfileLink}}
                    {{#>components/base/link _link=this.link _css="text-link dark:text-link-dark hover:underline"}}<span>{{../this.authorName~}}</span>{{/components/base/link~}}
                    {{~#with this.textAfterAuthor}}{{this}}{{/with}}{{~this.delimiter~}}
                {{else}}
                    {{#with this.textAfterAuthor}}{{this}}{{/with}}{{this.delimiter}}
                {{/if}}
            {{/each}}
        </div>
    {{/with}}
{{/if}}
{{/if}}
{{~#with this.programReferenceAlt~}}
    {{~#if this.hasReference~}}
        <div>
            <span>{{~loca "broadcast"}}:</span>
            {{#if this.link}}
                {{#>components/base/link _link=this.link _css="text-link dark:text-link-dark hover:underline"~}}
                    <span>{{~ this.programLabel ~}}</span>{{/components/base/link~}}{{~#if this.date~}},
                    <span>
                            <time datetime="{{#if this.displayWithTime}}{{this.date.htmlDateTime}}{{else}}{{this.date.date}}{{/if}}"
                                    class="{{#if _isArticle}}{{else}}{{/if}} ">
                                {{#if this.displayWithTime}}
                                    {{loca "date_simple_at" this.date.dateSeparatorTime}}
                                {{else}}
                                    {{this.date.date}}
                                {{/if}}
                            </time>
                        </span>
                {{/if}}
            {{else}}
                <span>{{this.programLabel}}{{#if this.date}}, 
                    <time datetime="{{#if this.displayWithTime}}{{this.date.htmlDateTime}}{{else}}{{this.date.date}}{{/if}}"
                            class="{{#if _isArticle}}{{else}}{{/if}} ">
                        {{#if this.displayWithTime}}
                            {{loca "date_simple_at" this.date.dateSeparatorTime}}
                        {{else}}
                            {{this.date.date}}
                        {{/if}}
                    </time>
                {{/if}}
                </span>
            {{/if}}
        </div>
    {{~/if~}}
{{~/with~}}
</div>
</footer>