<footer class="flex flex-col mt-10 text-xs md:text-sm text-gray-scorpion dark:text-text-dark font-headingSerif{{#if _addClass}} {{_addClass}}{{/if}}">
    {{#with this.editorialStaffItems}}
        <p>
            Redaktion:
            {{#each this}}
                {{#if this.hasProfileLink}}
                    {{#>components/base/link _link=this.link _css="text-link hover:underline"}}<span>{{../this.authorName~}}</span>{{/components/base/link~}}
                    {{~#with this.textAfterAuthor}}{{this}}{{/with}}{{~this.delimiter~}}
                {{else}}
                    {{#with this.textAfterAuthor}}{{this}}{{/with}}{{this.delimiter}}
                {{/if}}
            {{/each}}
        </p>
    {{/with}}
    {{~#with this.programReferenceAlt~}}
        {{~#if this.hasReference~}}
            <div>
                Sendung:
                {{#if this.link}}
                    {{#>components/base/link _link=this.link _css="text-link hover:underline"~}}
                        <span>{{~ this.programLabel ~}}</span>{{/components/base/link~}}{{~#if this.date~}},
                        <span>
                                <time datetime="{{#if this.displayWithTime}}{{this.date.htmlDateTime}}{{else}}{{this.date.date}}{{/if}}"
                                      class="{{#if _isArticle}}{{else}}{{/if}} ">
                                    {{#if this.displayWithTime}}
                                        {{loca "date_simple_at" this.date.dateSeparatorTime}}
                                    {{else}}
                                        {{this.date.date}}
                                    {{/if}}
                                </time>
                            </span>
                    {{/if}}
                {{else}}
                    <span>{{this.programLabel}}{{#if this.date}}, 
                        <time datetime="{{#if this.displayWithTime}}{{this.date.htmlDateTime}}{{else}}{{this.date.date}}{{/if}}"
                              class="{{#if _isArticle}}{{else}}{{/if}} ">
                            {{#if this.displayWithTime}}
                                {{loca "date_simple_at" this.date.dateSeparatorTime}}
                            {{else}}
                                {{this.date.date}}
                            {{/if}}
                        </time>
                    {{/if}}
                    </span>
                {{/if}}
            </div>
        {{~/if~}}
    {{~/with~}}
    {{~#with _source}}
        <p>
            {{~loca "copyright_source"~}}
            {{~#each this}}
                {{~#if @first}} {{this}}{{else}}, {{this}}{{/if~}}
            {{/each~}}
        </p>
    {{/with~}}
    {{~#if _isArchiveContent}}
        <p>
            {{loca "archive_content"}}
        </p>
    {{/if}}
    {{#if _showDate ~}}
        {{#with _date}}
            <p>
                <time datetime="{{this.htmlDateTime}}">{{loca "date_published" this.date this.time }}</time>
            </p>
        {{/with~}}
    {{/if}}
</footer>