<footer class="flex flex-col px-5 pb-5 text-sm font-copy{{#if _addClass}} {{_addClass}}{{/if}}">
    {{~#with _author ~}}
        <p class="block first:mt-6 contentFooter__byline text__byline">
            Autor: {{this}}
        </p>
    {{~/with~}}
    {{#if _showDate ~}}
        {{#with _date}}
            <p class="block contentFooter__byline text__byline">
                <time datetime="{{this.htmlDateTime}}">{{loca "date_published" this.date this.time }}</time>
            </p>
        {{/with~}}
    {{/if}}

    {{~#with _source}}
        <p class="block contentFooter__byline text__byline">
            {{~loca "copyright_source"~}}
            {{~#each this}}
                {{~#if @first}} {{this}}{{else}}, {{this}}{{/if~}}
            {{/each~}}
        </p>
    {{/with~}}

    {{~#with _copyright ~}}
        <p class="block contentFooter__byline text__byline">
            {{~loca "copyright_source"}} {{loca "copyright_symbol" this ~}}
        </p>
    {{~/with~}}

    {{~#if _isArchiveContent}}
        <p class="block contentFooter__byline text__byline">
            {{loca "archive_content"}}
        </p>
    {{/if}}

    {{~#with _posterCopyright ~}}
        {{~#with ../teaseritem.copyrightWithLinks}}
            <p class="block contentFooter__byline text__byline">
                {{~loca ../this this}}
            </p>
        {{~/with~}}
    {{~/with~}}

    <!-- TODO teaseritem.copyrightWithLinks dont work in gallery, generalize model -->
    {{~#with _galleryCopyright ~}}
        <p class="block contentFooter__byline text__byline">
            {{~loca this ../copyrightWithLinks}}
        </p>
    {{~/with~}}
</footer>